<div class="tit_one_vacan img nona">
    <img src="{{ asset('assets/img/ant-design_calendar-outlined.svg') }}" class="lazyLoad isLoaded" alt="">
    <h4>График работы</h4>
</div>
<div class="nona">
    <div class="grafikvisual">
        <div class="strokavremya">
            <div class="onestokavremya">
            </div>
            {% for time in timesArray %}
                <div class="onestokavremya">
                    {{ time }}
                </div>
            {% endfor %}
        </div>


{#        {% for key, schedule in schedules %}#}
{#            {% if schedule.cheked is defined and schedule.cheked %}#}
{#                Day Key {{ key }} {{ schedule.startTime }} - {{ schedule.endTime }}<br />#}
{#            {% endif %}#}
{#        {% endfor %}#}

{#        {{ dump(dataKeys) }}#}


{#        {% for schedule in schedules %}#}
{#            {{ schedule.startTime }}  {{ schedule.endTime }}#}
{#        {% endfor %}#}

        {% for dayKey, day in daysArray %}
            <div class="nedeles">
                <div class="strokavremya">
                    <div  class="onestokavremya">{{ day }}</div>

                    {% for timeKey, time in timesArray %}
                        {% if dayKey in dataKeys and timeKey in scheduleKeys %}
                            <div class="onestokavremya activechas">{{ time }}</div>
                        {% else %}
                            <div class="onestokavremya"></div>
                        {% endif %}

                    {% endfor %}


{#                    <div class="onestokavremya activechas">12:00</div>#}
{#                    <div class="onestokavremya activechas"></div>#}
{#                    <div class="onestokavremya activechas"></div>#}
{#                    <div class="onestokavremya activechas"></div>#}
{#                    <div class="onestokavremya activechas">16:00</div>#}
{#                    <div class="onestokavremya"></div>#}
{#                    <div class="onestokavremya"></div>#}
{#                    <div class="onestokavremya"></div>#}
{#                    <div class="onestokavremya"></div>#}
{#                    <div class="onestokavremya"></div>#}
{#                    <div class="onestokavremya"></div>#}
{#                    <div class="onestokavremya"></div>#}
                </div>
            </div>
        {% endfor %}

    </div>
</div>