{% extends 'layouts/base.html.twig' %}
{% block title %}{{ job.name }} - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="content">
        <div class="bread">
            <a href="{{ path('app_main') }}" class="nuxt-link-active main_vavancies">Главная</a>
            <a href="{{ path('app_all_jobs') }}" class="nuxt-link-active main_vavancies">Вакансии</a>
            <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">{{ job.name }}</a>
        </div>
        <div class="mobfile mobs">
            <p>Вакансия {{ job.name }}</p>
        </div>
        <div class="large_one_vacan fon">
            <div class="in_one_vacan">
                <div class="bord">
                    <div class="starts_one_vacan">
                        <div class="own_one_vacancy">
                            <div  class="name_one_vacan">
                                <div class="round_one_vacan">
                                    <img src="{{ asset('assets/img/name.svg') }}" class="lazyLoad isLoaded" alt="">
                                </div>
                                <div class="about_one_vacan">
                                    <div class="var_account">
                                        <p class="point_one_vacan">{{ job.owner.firstName }} {{ job.owner.lastName }}</p>
                                        <!-- ToDo -->
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <img class="verif_green lazyLoad isLoaded" src="{{ asset('assets/img/verif_green.svg') }}" alt="">
                                        {% else %}
                                            <img class="verif_green lazyLoad isLoaded" src="{{ asset('assets/img/verif.svg') }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="city_one_vacan"><span>Наниматель</span>
                                    </div>
                                </div>
                            </div>

                            {% if app.user %}
                            {% if user.id == job.owner.id %}
                                <div class="btn_one_vacan nona">
                                    <a>Написать сообщение</a>
                                </div>
                            {% else %}
                                <div class="btn_one_vacan nona">
                                    <a href="{{ path('app_selected_chat', { id: job.owner.id}) }}" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Написать сообщение</a>
                                </div>
                            {% endif %}
                            {% endif %}

{#                            <div class="btn_one_vacan mobs">#}
{#                                <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Добавить в чат</a>#}
{#                            </div>#}
                        </div>
                        <div class="owns nona">
                            <div class="text_owns">
                                <p>Телефон подтвержден</p>
                                <p>Почта подтверждена</p>
                                <p>Паспортные данные подтверждены</p>
                            </div>

                            {% if app.user %}
                            <div class="btn_one_vacan2">
                                <span aria-current="page" class="btn-show-info-{{ job.id }}">Показать контакты</span>
                            </div>
                            {% endif %}
                        </div>
                        <div  class="owns nona">
                            <div class="last">
                                <div class="ones_vacan">
                                    <h4>Зарегистрирован</h4>
                                    <span class="timeago" title="{{ job.owner.created|date("Y-m-d H:i:s") }}"></span>
                                </div>
                                {% if job.owner.lastlogin is not null %}
                                    <div class="ones_vacan">
                                        <h4>Был последний раз</h4>
                                        <span class="timeago" title="{{ job.owner.lastlogin|date("Y-m-d H:i:s") }}"></span>
                                    </div>
                                {% endif %}
                            </div>
                            {% if app.user %}
                                {% if job.id in featuredJobs %}
                                    <div class="btn_one_vacan3">
                                        <span class="remove-job-{{ job.id }} detail-liked ">Удалить из избранного</span>
                                    </div>
                                {% else %}
                                    <div class="btn_one_vacan3">
                                        <span class="add-job-{{ job.id }} detail-like ">Добавить в избранное</span>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if app.user %}
                                    <div class="btn_one_vacan3">
                                        <img src="{{ asset('assets/img/like.svg') }}" class="lazyLoad isLoaded" alt="">
                                        <a href="{{ path('app_login') }}" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Добавить в избранное</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="next_one_vacan">
                    <div class="yet_one_vacan">
                        <div class="like_one_vacan">
                            <h3>{{ job.name }}</h3>
                            <img class="img_like_mob mobs lazyLoad" src="{{ asset('assets/img/like.svg') }}" alt="">
                        </div>

                        {% if app.user %}
                        {% if user.active == 1 %}
                        <div class="additional-info additional-info-{{ job.id }} hidden">
                            <h3>Контакты работодателя</h3>
                            <p>ФИО контактного лица: {{ job.contactFullName }}</p>
                            <p>Email: <a class="link" href="mailto:{{ job.owner.email }}?subject=Запрос на выполнение работы">{{ job.owner.email }}</a></p>
                        </div>
                        {% elseif user.active == 0 or user.inactive == 1 %}
                            <div class="additional-info additional-info-{{ job.id }} hidden">
                                <p>Доступ к системе ограничен. <a style="text-decoration: underline" href="{{ path('app_tarifs') }}">Пожалуйста пополните ваш баланс.</a></p>
                            </div>
                        {% endif %}
                        {% endif %}

                        <div class="dates mobs">
                            <span>5 ноября</span>
                        </div>
                    </div>
                    <div class="cols_one_vacan">
                        <div class="line_one_vacan">
                            <div class="city2_one_vacan">
                                <img  src="{{ asset('assets/img/city_map.svg') }}" class="lazyLoad isLoaded" alt="">
                                <span>{{ job.city.name }} {% if job.district %}, {{ job.district.name }} {% endif %}</span>
                            </div>
                            {% if job.payment %}
                                <div class="city2_one_vacan">
                                    <p>Оплата:</p>
                                    <span>{{ job.payment }}</span>
                                </div>
                            {% endif %}

                            <div class="city2_one_vacan">
                                <p>Начать работу:</p>
                                {% if job.startNow == 1 %}
                                    <span>Сейчас</span>
                                {% else %}
                                    <span>{{ job.startDate|date("d.m.Y") }}</span>
                                {% endif %}
                            </div>
                            <div class="city2_one_vacan nona">
                                <span>Возраст:</span>
                                <p>{{ job.age }} лет</p>
                            </div>
                        </div>
                        <div class="line_one_vacan bots">
                            <div class="city2_one_vacan">
                                <span>Образование:</span>
                                <p>{{ job.education }}</p>
                            </div>
                            <div class="city2_one_vacan">
                                <span>Опыт работы: </span>
                                <p >{{ job.experience }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tit_one_vacan nona">
                        <img src="{{ asset('assets/img/blockicon.svg') }}" class="lazyLoad isLoaded" alt="">
                        <h4>Описание</h4>
                    </div>
                    <p class="up_one_vacan nona">{{ job.description|nl2br }}</p>
                    <div class="more mobs">
                        <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Подробнее</a>
                    </div>

                    {#<div class="road mobs">Here was a mobile box</div>#}

                    <div  class="simple_one_vacan nona">
                        {% for additional in job.additional %}
                            <div class="sim">
                                <img src="{{ asset('assets/img/Ellipse.svg') }}" class="lazyLoad isLoaded" alt="">
                                <p>{{ additional.name }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div  class="tit_one_vacan img nona">
                        <img src="{{ asset('assets/img/la_clipboard-list.svg') }}" class="lazyLoad isLoaded" alt="">
                        <h4>Дополнительно</h4>
                    </div>

                    <div class="city2_one_vacan up2 nona">
                        {% if job.accommodations|length > 0 %}
                            <p >Место работы:</p>
                            {% for accommodation in job.accommodations %}
                                <span>{{ accommodation.name }}</span>
                            {% endfor %}
                        {% endif %}

                        {% if job.busynesses|length > 0 %}
                            <p >Занятость:</p>
                            {% for busyness in job.busynesses %}
                                <span>{{ busyness.name }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

{#                    {% include 'partials/pages/job/_scheduler_detail.html.twig' %}#}
{#                    {% include 'partials/pages/job/_scheduler_detail_back.html.twig' %}#}
                    
                    <div class="tit_one_vacan img communication_method nona">
                        <img src="{{ asset('assets/img/phone.svg') }}" class="lazyLoad isLoaded" alt="">
                        <h4>Предпочитаемый способ связи</h4>
                    </div>
                    <div class="sim bigs nona">
                        <img src="{{ asset('assets/img/Ellipse.svg') }}" class="lazyLoad isLoaded" alt="">
                        <p>Звонок по телефону</p>
                    </div>
                    <div class="double_one_vacan nona">
{#                        <div  class="btn_one_vacan">#}
{#                            <a  href="{{ path('app_my_jobs') }}" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Венуться к вакансиям</a>#}
{#                        </div>#}
                        <div class="btn_one_vacan2">
                            <a href="{{ path('app_all_jobs') }}" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Другие вакансии</a>
                        </div>
                    </div>

                    {% if relatedJobs|length > 0 %}
                        <h5 class="similar_jobs nona">Похожие вакансии</h5>
                        <div class="owl-carousel owl-theme" id="slider_one_vacan">
                            {% for job in relatedJobs %}
                            <slide>
                                <div class="box_account_one_vacan">
                                    {% include 'partials/pages/job/slider/_job_item.html.twig' %}
                                </div>
                            </slide>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            jQuery("span.timeago").timeago();

            $('span.add-job-{{ job.id }}').click(function(){
                var url = '{{ path('app_add_job_to_favorite', { id: job.id}) }}';
                dataString = 'Добавлено в избранное';
                jQuery.ajax({
                    url: url,
                    data: dataString,
                    type: "POST",
                    success:function(){
                        $(".add-job-{{ job.id }}").css('display', 'none').after(' <span class="add-job-3 detail-liked lazyLoad isLoaded">Добавлено в избранное</span>');
                    },
                    error:function (){}
                });
            });
            $('span.remove-job-{{ job.id }}').click(function(){
                var url = '{{ path('app_remove_job_from_favorite', { id: job.id}) }}';
                dataString = 'Удалено из избранного';
                jQuery.ajax({
                    url: url,
                    data: dataString,
                    type: "POST",
                    success:function(){
                        $(".remove-job-{{ job.id }}").css('display', 'none').after(' <span class="add-job-3 detail-like lazyLoad isLoaded">Удалено из избранного</span>');
                    },
                    error:function (){}
                });
            });

            $(".btn-show-info-{{ job.id }}").click(function(){
                $(".additional-info-{{ job.id }}").toggle();
            });
        });
    </script>
    {% include 'partials/footer.html.twig' %}
{% endblock %}
