{% extends 'layouts/base.html.twig' %}
{% block title %}Создать вакансию - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class=" content">
        <div  class="bread nona">
            <a  href="{{ path('app_main') }}" class="nuxt-link-active">Главная</a>
            <a href="{{ path('app_lk') }}">/ Личный кабинет</a>
            <a>/ Создать вакансию</a>
        </div>

        <div class="large_creating_form fon">
            <div class="in_creating_form">
                {% include 'partials/_message.html.twig' %}
                {{ form_start(form, {'attr' : {'class': 'form', 'autocomplete': 'on'}} ) }}
                <div class="hide">
                    <div class="abouts_creating_form grid_creating_form">
                        <div class="dom_creating_form">
                            <p class="required">ФИО контактного лица</p>
                            {{ form_row(form.contactFullName) }}
                        </div>
                    </div>
                    <div class="abouts_creating_form grid_creating_form">
                        <div class="dom_creating_form">
                            <p class="required">Категория</p>
                            {{ form_row(form.category) }}
                        </div>
                        <div class="dom_creating_form">
                            <p class="required">Краткое описание вакансии</p>
                            {{ form_row(form.name) }}
                        </div>
                        <div class="dom_creating_form">
                            <p>Описание вакансии</p>
                            {{ form_row(form.description) }}
                        </div>
                    </div>

                    <div class="abouts_creating_form grid_creating_form">
                        <div class="dom_creating_form">
                            <p class="required">Город</p>
                            <select id="job_form_city" name="job_form[city]" class="text_input" required="required">
                                <option>Выберите город</option>
                                {% for city in cities %}
                                    <option value="{{ city.id }}">{{ city.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="dom_creating_form">
                            <p>Район</p>
                            <select id="job_form_district" name="job_form[district]" class="text_input" disabled>
                                {% for district in districts %}
                                    <option>Выберите район</option>
                                    <option data-list-id="{{ district.city.id }}" value="{{ district.id }}">
                                        {{ district.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="abouts_creating_form grid_creating_form ">
                        <div class="dom_creating_form">
                            <p>Геолокация</p>
                            <div class="location_creting_form">
                                <img src="{{ asset('assets/img/locats.svg') }}" alt="">
                                <span class="">Поиск по геолокации</span>
                            </div>
                        </div>
                        <div class="dom_creating_form">
                            <p class="required">Адрес</p>
                            {{ form_row(form.address) }}
                        </div>
                    </div>

                    <div class="did mobs">
                        <img src="{{ asset('assets/img/gala.svg') }}" alt="">
                        <a href="">Выполнено</a>
                    </div>
                </div>

                <div class="hide">
                    <div class="abouts_creating_form">
                        <p class="required">Когда нужно приступить к работе</p>
                        <div class="date_creating_form">
                            {{ form_widget(form.startDate) }}
                            <div class="but_creating_form">
                                <label for="checkbox" class="work_start_now">Незамедлительно
                                    {{ form_widget(form.startNow) }}
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="abouts_creating_form">
                        <p>Оплата</p>
                        {{ form_row(form.payment) }}
                    </div>

                    <div class="pay_creating_form">
                        <div class="abouts_creating_form">
                            <p>Какой опыт работы желателен</p>
                            <div class="work_experience_creating_form">
                                {{ form_row(form.experience) }}
                            </div>
                        </div>
                        <div class="abouts_creating_form">
                            <div class="dom_creating_form">
                                <p>Образование</p>
                                {{ form_row(form.education) }}
                            </div>
                        </div>
                        <div class="abouts_creating_form">
                            <div class="dom_creating_form">
                                <p>Возраст</p>
                                {{ form_row(form.age) }}
                            </div>
                        </div>
                    </div>

                    <div class="did mobs">
                        <img src="{{ asset('assets/img/gala.svg') }}" alt="">
                        <a href="">Выполнено</a>
                    </div>
                </div>

                <div class="hide">
                    <div class="tops">
                        <div class="only">
                            <p>Нужно выполнять:</p>
                            <!--  <div class="sbros mobs" v-if="on" @click="choose=false,line=true,on=false">
                               <span>Сбросить</span>
                             </div> -->
                        </div>
                        <button class="choose_creating_form mobs accordion_filter_one_vacan">
                            <span>Выберите из списка</span>
                            <img src="{{ asset('assets/img/str.svg" src="/preload.gif ') }}" class="lazyLoad" alt="">
                        </button>
                        <div class="panel_filter">
                            <div class="need_creating_form">
                                <section>
                                    {% for task in tasks %}
                                        <label for="chk{{ task.id }}" class="tasks" data-game="{% if task.category %}{% for category in task.category %}j-{{ category.id }} {% endfor %}{% endif %}">
                                            <input type="checkbox" id="chk{{ task.id }}" name="job_form[task][]" value="{{ task.id }}">
                                            <span>{{ task.name }}</span></label>
                                    {% endfor %}
                                </section>
                            </div>
                            <div class="abouts_creating_form">
                                {{ form_row(form.anotherTask) }}
                            </div>
                        </div>
                    </div>

                    <div class="abouts_creating_form citizenship">
                        <p>Гражданство:</p>
                        <button class="choose_creating_form mobs accordion_filter_one_vacan">
                            <span>Выберите из списка</span>
                            <img src="{{ asset('assets/img/str.svg" src="/preload.gif ') }}" class="lazyLoad" alt="">
                        </button>

                        <div class="panel_filter">
                            <div class="need_creating_form">
                                {% for citizen in citizens %}
                                    <label for="citizenship{{ citizen.id }}" class="citizenship_chk">
                                        <input type="checkbox" id="citizenship{{ citizen.id }}" name="job_form[citizenship]" value="{{ citizen.id }}" onclick="onlyOne(this)">
                                        <span>{{ citizen.name }}</span></label>
                                {% endfor %}
                            </div>
                            <div class="abouts_creating_form">
                                {{ form_row(form.anotherCitizen) }}
                            </div>
                        </div>

                        <div class="did mobs">
                            <img src="{{ asset('assets/img/gala.svg') }}" alt="">
                            <a href="">Выполнено</a>
                        </div>
                    </div>
                </div>

                <div class="hide">
                    {% include 'partials/pages/job/_accommodation.html.twig' %}
                    {% include 'partials/pages/job/_busyness.html.twig' %}

                    <p class="arm_creating_form">Или добавьте вручную</p>
                    <button class="choose_creating_form mobs accordion_filter_one_vacan">
                        <span>Добавьте вручную</span>
                        <img src="{{ asset('assets/img/str.svg" src="/preload.gif') }}" class="lazyLoad" alt="">
                    </button>
                    {% include 'partials/pages/job/_scheduler.html.twig' %}
                </div>

                <div class="hide">
                    <div class="foto_creatig_form">
                        <div class="add_creating_form">
                            <img src="{{ asset('assets/img/plus.svg') }}" alt="">
                            <span>Загрузить фотографию</span>
                        </div>
                        <div class="add_photo">
                            <div class="field__wrapper">
                                {{ form_widget(form.image) }}
                                <label class="field__file-wrapper" for="job_form_image">
                                    <div class="field__file-fake">Файл не вбран</div>
                                    <div class="field__file-button">Выбрать</div>
                                </label>
                            </div>
                        </div>
                        <div class="face">
                            <span>Добавьте фото и получите бесплатный доступ<br> к платформе на 3 дня</span>
                        </div>
                    </div>
                </div>
                <div class="but_creating_form send_message">
                    <button type="submit">Отправить объявление</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script>
        createDependableList ( '#job_form_city', '#job_form_district' );
        $('#job_form_city').change(function() {
            $('#job_form_district').prop('disabled', false);
        });
        function onlyOne(checkbox) {
            var checkboxes = document.getElementsByName('job_form[citizenship]')
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            })
        }
        function onlyOneAccommodation(checkbox) {
            var checkboxes = document.getElementsByName('job_form[accommodation]')
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            })
        }
        function onlyOneBusyness(checkbox) {
            var checkboxes = document.getElementsByName('job_form[busyness]')
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            })
        }
    </script>

    {% include 'partials/footer.html.twig' %}
{% endblock %}

