{% extends 'layouts/base.html.twig' %}
{% block title %}Создать вакансию - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">

    {% include 'partials/header.html.twig' %}

    <div class=" content">
        <div class="bread_personal_account">
            <a href="{{ path('app_main') }}" class="nuxt-link-active">Главная</a>
            <a href="{{ path('app_lk') }}">/ Личный кабинет</a>
            <a>/ Создать вакансию</a>
        </div>

        <div class="large_creating_form fon">
            <div class="in_creating_form">
                {% include 'partials/_message.html.twig' %}
                <h1>Вакансия Мастера на час</h1>
                {{ form_start(form, {'attr' : {'class': 'form job_form', 'autocomplete': 'off'}} ) }}

                {% include 'partials/pages/job/form/_age_column.html.twig' %}
                {% include 'partials/pages/job/form/_city_column.html.twig' %}
                {% include 'partials/pages/job/form/_start_column.html.twig' %}
                <div class="flex-parent">
                    <div class="flex-child">
                        <div class="abouts_creating_form">
                            <p>Оплата</p>
                            <div class="ques_creating_form">
                                {{ form_row(form.payment) }}<br />
                                <div class="but_creating_form">
                                    <label for="checkbox" class="work_start_now">Почасовая
                                        {{ form_widget(form.paymentByHour) }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="but_creating_form">
                                    <label for="checkbox" class="work_start_now">Помесячная
                                        {{ form_widget(form.paymentByMonth) }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-child">
                        <div class="_abouts_creating_form input-select-multiple">
                            <div class="but_creating_form">
                                <label> <p class="required">Проживание:</p><br /><br />
                                    {{ form_widget(form.accommodations) }}
                                </label>
                            </div><br /><br />
                        </div>
                    </div>
                </div>

                {% include 'partials/pages/job/form/_busynesses_column.html.twig' %}
                {% include 'partials/pages/job/form/_tasks_column.html.twig' %}
                {% include 'partials/pages/job/form/_citizen_column.html.twig' %}

                <div class="but_creating_form send_message"><br /><br />
                    <button type="submit">Разместить вакансию</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

    </div>

<script>
    $(function(){
        $("input:checkbox.chkclass").each(function(){
            $(this).change(function(){
                $("input:checkbox.chkclass").not($(this)).prop("checked",false);
                $(this).prop("checked", $(this).prop("checked"));
            });
        });
    });
    createDependableList ( '#job_master_form_city', '#job_form_district' );
    $('.input-select-multiple select').select2({});
    $('#worksheet_form_city').change(function() {
        $('#worksheet_form_district').prop('disabled', false);
    });
    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('worksheet_form[citizenship]')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }
    function onlyOneAccommodation(checkbox) {
        var checkboxes = document.getElementsByName('worksheet_form[accommodation]')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }
    function onlyOneBusyness(checkbox) {
        var checkboxes = document.getElementsByName('job_form[busyness]')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }

    $( "#worksheet_form" ).autocomplete({
        source: function( request, response ) {
            $.ajax({
                url: "{{ path('api_cities') }}",
                dataType: "json",
                type: "POST",
                data: {
                    maxRows: 15,
                    name: request.term
                },
                success: function( data ) {
                    response( $.map( data, function( item ) {
                        return {
                            label: item.name,
                            lat: item.lat,
                            lng: item.lng,
                            district: item.district
                        }
                    }));
                }
            });
        },
        minlength: 2
    });
</script>

    {% include 'partials/footer.html.twig' %}
{% endblock %}

