{% extends 'layouts/base.html.twig' %}
{% block title %}Создать вакансию - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

<div class=" content">
    <div  class="bread nona">
        <a  href="{{ path('app_main') }}" class="nuxt-link-active">Главная</a>
        <a href="{{ path('app_lk') }}">/ Личный кабинет</a>
        <a>/ Создать вакансию</a>
    </div>

    <div class="large_creating_form fon">

        {{ form_start(form, {'attr' : {'class': 'form', 'autocomplete': 'on'}} ) }}

        <div class="in_creating_form">
            <div class="hide">

                <div class="abouts_creating_form grid_creating_form">
                    <div class="dom_creating_form">
                        <p class="required">ФИО контактного лица</p>
                        {{ form_row(form.contactFullName) }}
                    </div>

                </div>

                <div class="abouts_creating_form grid_creating_form">
                    <div class="dom_creating_form">
                        <p>Категория</p>
                        {{ form_row(form.category) }}
                    </div>
                    <div class="dom_creating_form">
                        <p class="required">Краткое описание вакансии</p>
                        {{ form_row(form.name) }}
                    </div>
                    <div class="dom_creating_form">
                        <p>Описание вакансии</p>
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <br /><br />

                <div class="abouts_creating_form grid_creating_form needs">
<!--                    <div class="dom_creating_form">
                        <p>Район работы</p>
                        <select name="select">
                            <option value="value1">Станция метро</option>
                            <option value="value2" selected>Станция метро</option>
                            <option value="value3">Станция метро</option>
                        </select>
                    </div>-->

                    <div class="dom_creating_form">
                        <p class="required">Город</p>
                        {{ form_row(form.city) }}
                    </div>
                    <div class="dom_creating_form">
                        <p class="required">Район</p>
                        {{ form_row(form.district) }}
                    </div>
                    <div class="dom_creating_form">
                        <p class="required">Адрес</p>
                        {{ form_row(form.address) }}
                    </div>
                    <div class="dom_creating_form">
                        <div class="location_creting_form">
                            <img src="{{ asset('assets/img/locats.svg') }}">
                            <span class="nona">Поиск по геолокации</span>
                            <span class="mobs">Геолокация</span>
                        </div>
                    </div>
                </div>
<!--                <div class="did mobs">
                    <img src="assets/img/gala.svg">
                    <a href="">Выполнено</a>
                </div>-->
            </div>

            {# <div class="hide mobs">
                <div class="abouts_creating_form">
                    <p>Когда нужно приступить к работе</p>
                    <div class="date_creating_form">
                        <input class="text_input" type="date" name="date" placeholder="__.__.2022">
                        <div class="but_creating_form">
                            <a href="">Незамедлительно</a>
                        </div>
                    </div>
                </div>

                <div class="abouts_creating_form">
                    <p>Оплата</p>
                    <div class="pay_creating_form">
                        <div class="size_creating_form">
                            <select name="select">
                                <option value="value1">Почасовая: __ / час</option>
                                <option value="value2" selected>Почасовая: __ / час</option>
                                <option value="value3">Почасовая: __ / час</option>
                            </select>
                        </div>
                        <select name="select">
                            <option value="value1">По месяцам: __ / месяц</option>
                            <option value="value2" selected>По месяцам: __ / месяц</option>
                            <option value="value3">По месяцам: __ / месяц</option>
                        </select>
                    </div>
                </div>

                <div class="abouts_creating_form">
                    <p>Какой опыт работы желателен</p>
                    <div class="need_creating_form">
                        <div class="but_creating_form">
                            <a href="">Нет</a>
                        </div>
                        <div class="but_creating_form hi_creating_form">
                            <a href="">Менее 6 месяцев</a>
                        </div>
                        <div class="but_creating_form hi_creating_form">
                            <a href="">6-12 меясцев</a>
                        </div>
                        <div class="but_creating_form hi_creating_form">
                            <a href="">2-5 лет</a>
                        </div>
                        <div class="but_creating_form hi_creating_form">
                            <a href="">более 5 лет</a>
                        </div>
                    </div>
                </div>

                <div class="did mobs">
                    <img src="assets/img/gala.svg">
                    <a href="">Выполнено</a>
                </div>
            </div>#}

            <div class="hide nona">
                <div class="abouts_creating_form">
                    <p>Когда нужно приступить к работе</p>
                    <div class="date_creating_form">
                        {{ form_row(form.startDate) }}
                        <div class="but_creating_form">
                            <p>Незамедлительно</p>
                            {{ form_row(form.startNow) }}
                        </div>
                    </div>
                </div>

                <div class="abouts_creating_form">
                    <p>Оплата</p>
                    {{ form_row(form.payment) }}

                    {# <div class="pay_creating_form">
                        <div class="size_creating_form">
                            <select name="select">
                                <option value="value1">Почасовая: __ / час</option>
                                <option value="value2" selected>Почасовая: __ / час</option>
                                <option value="value3">Почасовая: __ / час</option>
                            </select>
                        </div>
                        <select name="select">
                            <option value="value1">По месяцам: __ / месяц</option>
                            <option value="value2" selected>По месяцам: __ / месяц</option>
                            <option value="value3">По месяцам: __ / месяц</option>
                        </select>
                    </div>#}
                </div>

                <div class="abouts_creating_form">
                    <p>Какой опыт работы желателен</p>
                    <div class="_need_creating_form">
                        <div class="_but_creating_form">
                        {{ form_widget(form.experience) }}
                        </div>
                    </div>

<!--                    <div class="need_creating_form">
                        <div class="but_creating_form">
                            <a href="" >Нет</a>
                        </div>
                        <div class="but_creating_form hi_creating_form">
                            <a href="">Менее 6 месяцев</a>
                        </div>
                        <div class="but_creating_form hi_creating_form">
                            <a href="">6-12 меясцев</a>
                        </div>
                        <div class="but_creating_form hi_creating_form">
                            <a href="">2-5 лет</a>
                        </div>
                        <div class="but_creating_form hi_creating_form">
                            <a href="">более 5 лет</a>
                        </div>
                    </div>-->
                </div>

                <div class="did mobs">
                    <img src="{{ asset('assets/img/gala.svg') }}">
                    <a href="">Выполнено</a>
                </div>
            </div>

            <div class="hide" v-if="three">
                <div class="abouts_creating_form">
                    <div class="dom_creating_form">
                        <p>Образование</p>
                        {{ form_row(form.education) }}
                    </div>

                    <div class="dom_creating_form">
                        <p>Возраст</p>
                        {{ form_row(form.age) }}
                    </div>
                </div>

                <div class="abouts_creating_form tops">
                    <div class="only">
                        <p>Нужно выполнять:</p>
                        <div class="sbros mobs">
                            <span>Сбросить</span>
                        </div>
                    </div>
                    {{ form_row(form.tasks) }}
                    {{ form_row(form.anotherTask) }}

                    <button class="choose_creating_form mobs accordion_filter_one_vacan">
                        <span>Выберите из списка</span>
                        <img src="{{ asset('assets/img/str.svg" src="/preload.gif') }}" class="lazyLoad">
                    </button>

                    <div class="abouts_creating_form citizenship">
                        <p>Гражданство:</p>
                        <div class="dom_creating_form">
                        {{ form_row(form.citizen) }}<br />
                            {{ form_row(form.anotherCitizen) }}
                        </div>



                        <button class="choose_creating_form mobs accordion_filter_one_vacan">
                            <span>Выберите из списка</span>
                            <img src="{{ asset('assets/img/str.svg" src="/preload.gif') }}" class="lazyLoad">
                        </button>


                        <div class="panel_filter">
                            <div class="did mobs">
                                <img src="{{ asset('assets/img/gala.svg') }}">
                                <a href="">Выполнено</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hide">
                    <div class="abouts_creating_form">
                        <p>Проживание:</p>
                        <div class="need_creating_form">
                            <div class="but_creating_form">
                                <a href="">С проживанием</a>
                            </div>
                            <div class="but_creating_form hi_creating_form">
                                <a href="">Без проживания</a>
                            </div>
                            <div class="but_creating_form hi_creating_form">
                                <a href="">Неважно</a>
                            </div>
                        </div>
                    </div>

                    <div class="abouts_creating_form">
                        <div class="only">
                            <p>График работы:</p>
                            <div class="sbros mobs">
                                <span>Сбросить</span>
                            </div>
                        </div>

                        <div class="need_creating_form">
                            <div class="but_creating_form hi_creating_form">
                                <a href="">Полная занятость</a>
                            </div>
                            <div class="but_creating_form hi_creating_form">
                                <a href="">Частичная занятость</a>
                            </div>
                        </div>
                    </div>

                    <p class="arm_creating_form">Или добавьте вручную</p>

                    <!-- <div class="choose mobs" v-if="line2" @click="choose2=!choose2,on2=!on2,line2=false">
                      <input type="text" name="text" placeholder="Добавьте вручную">
                      <img src="assets/img/str2.svg">
                    </div> -->

                    <button class="choose_creating_form mobs accordion_filter_one_vacan">
                        <span>Добавьте вручную</span>
                        <img src="{{ asset('assets/img/str.svg" src="/preload.gif') }}" class="lazyLoad">
                    </button>

                    <div class="table_creating_form nona">
                        <div class="once">
                            <div class="week_creating_form">
                                <h5>Пн</h5>
                                <div class="time_creating_form">
                                    <div class="_mins_creating_form">
                                        <input value="" class="mins_creating_form" placeholder="12:00" name="monday_start_time">
                                    </div>
                                    <p>-</p>
                                    <div class="mins_creating_form">
                                        <input value="" class="mins_creating_form" placeholder="16:00" name="monday_end_time">
                                    </div>
                                </div>
                                <input type="checkbox" name="week[]" value="1">
                            </div>

                            <div class="week_creating_form">
                                <h5>Вт</h5>
                                <div class="time_creating_form">
                                    <div class="mins_creating_form">
                                        <p>12:00</p>
                                    </div>
                                    <p>-</p>
                                    <div class="mins_creating_form">
                                        <p>16:00</p>
                                    </div>
                                </div>
                                <img src="assets/img/presss.svg">
                            </div>

                            <div class="week_creating_form">
                                <h5>Ср</h5>
                                <div class="time_creating_form">
                                    <div class="mins_creating_form">
                                        <p>12:00</p>
                                    </div>
                                    <p>-</p>
                                    <div class="mins_creating_form">
                                        <p>16:00</p>
                                    </div>
                                </div>
                                <img src="assets/img/presss.svg">
                            </div>

                            <div class="week_creating_form">
                                <h5>Чт</h5>
                                <div class="time_creating_form">
                                    <div class="mins_creating_form">
                                        <p>12:00</p>
                                    </div>
                                    <p>-</p>
                                    <div class="mins_creating_form">
                                        <p>16:00</p>
                                    </div>
                                </div>
                                <img src="assets/img/presss.svg">
                            </div>
                        </div>

                        <div class="once">
                            <div class="week_creating_form">
                                <h5>Пт</h5>
                                <div class="time_creating_form">
                                    <div class="mins_creating_form">
                                        <p>12:00</p>
                                    </div>
                                    <p>-</p>
                                    <div class="mins_creating_form">
                                        <p>16:00</p>
                                    </div>
                                </div>
                                <img src="assets/img/presss.svg">
                            </div>

                            <div class="week_creating_form">
                                <h5 class="light_creating_form">Сб</h5>
                                <div class="time_creating_form">
                                    <div class="mins_creating_form">
                                        <p></p>
                                    </div>
                                    <p>-</p>
                                    <div class="mins_creating_form">
                                        <p></p>
                                    </div>
                                </div>
                                <img src="assets/img/presss.svg">
                            </div>

                            <div class="week_creating_form">
                                <h5 class="light_creating_form">Вс</h5>
                                <div class="time_creating_form">
                                    <div class="mins_creating_form">
                                        <p></p>
                                    </div>
                                    <p>-</p>
                                    <div class="mins_creating_form">
                                        <p></p>
                                    </div>
                                </div>
                                <img src="assets/img/presss.svg">
                            </div>
                        </div>

                    </div>

                    <div class="abouts_creating_form top2">
                        <p>Дополнительная информация:</p>
                        {{ form_row(form.additional) }}

                        <button class="choose_creating_form mobs accordion_filter_one_vacan">
                            <span>Выберите из списка</span>
                            <img src="assets/img/str.svg" src="/preload.gif" class="lazyLoad">
                        </button>

                        <div class="panel_filter">

                            <div class="window mobs" v-if="full">
                                <div class="win">
                                    <p>Есть загран паспорт</p>
                                    <img src="assets/img/elippsee.svg">
                                </div>
                                <div class="win">
                                    <p>Есть автомобиль</p>
                                    <img src="assets/img/elippsee.svg">
                                </div>
                                <div class="win">
                                    <p>Есть водительские права</p>
                                    <img src="assets/img/Ellipseee2.svg">
                                </div>
                                <div class="win">
                                    <p>Есть медкнижка</p>
                                    <img src="assets/img/Ellipseee2.svg">
                                </div>
                                <div class="win">
                                    <p>Есть рекомендации</p>
                                    <img src="assets/img/Ellipseee2.svg">
                                </div>
                                <div class="win">
                                    <p>Есть мед. образование</p>
                                    <img src="assets/img/Ellipseee2.svg">
                                </div>
                                <div class="win">
                                    <p>Готов пройти онлайн-собеседование</p>
                                    <img src="assets/img/Ellipseee2.svg">
                                </div>
                                <div class="win">
                                    <p>Не курю</p>
                                    <img src="assets/img/Ellipseee2.svg">
                                </div>
                                <div class="knopka">
                                    <nuxt-link to="">Применить</nuxt-link>
                                </div>
                            </div>
                        </div>

                        <div class="did mobs">
                            <img src="assets/img/gala.svg">
                            <a href="">Выполнено</a>
                        </div>
                    </div>
                </div>


                <div class="hide">
                    <div class="foto_creatig_form nona">
                        <div class="add_creating_form">
                            <img src="assets/img/plus.svg">
                            <span>Загрузить фотографию</span>
                        </div>
                        <div class="face">
                            <span>Добавьте фото и получите бесплатный доступ<br> к платформе на 3 дня</span>
                        </div>
                        <div class="but_creating_form">
                            <a href="">Отправить объявление</a>
                        </div>
                    </div>

                    <div class="fotos mobs">
                        <div class="mobname">
                            <div class="so">
                                <img src="assets/img/mobname.svg">
                            </div>
                            <p>Добавьте фото и получите бесплатный доступ<br> к платформе на 3 дня</p>
                        </div>

                        <div class="but">
                            <nuxt-link to="">Загрузить фотографию</nuxt-link>
                        </div>

                        <div class="ver">
                            <h4>Пройдите верификацию</h4>
                            <p>Загрузить паспортные данные</p>
                        </div>

                        <div class="double">
                            <span>Пропустить</span>
                            <div class="did mobs">
                                <img src="assets/img/gala.svg">
                                <a href="">Выполнено</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="but_creating_form send_ad mobs">
            <a href="">Отправить объявление</a>
        </div>

        {{ form_end(form) }}

    </div>

</div>


    {% include 'partials/footer.html.twig' %}
{% endblock %}

