<div class="box_account_vacan">
    <div class="box_account_content">
        <div class="box_vacancies_bord ">
            <div class="box_logo">
                {% if job.owner.avatar %}
                    <img id="avatar" src="{{ asset('uploads/files/' ~ job.owner.avatar) }}" class="rounded" width="50" height="50"  alt=""/>
                {% else %}
                    <img src="{{ asset('assets/img/ava_person_account.png') }}" alt="">
                {% endif %}
            </div>
            <div class="name_vacancies">
                <div class="name_verif">
                    <p>{{ job.owner.firstName }} {{ job.owner.lastName }}</p>
                    <img class="verif_green" src="{{ asset('assets/img/verif_green.svg') }}" alt="">
                </div>
                <div class="city_icon_vacan">
                    <img src="{{ asset('assets/img/city_map.svg') }}" class="lazyLoad isLoaded" alt="">
                    <p class="city_box_account">{{ job.city }} {% if job.district %}, {{ job.district }} {% endif %}</p>
                </div>
            </div>
            <div class="header_box_vacan">
                <div class="data_box_vacan">
                    <p>Оплата: <i class="data_box_account">{{ job.payment }}</i></p>
                    <p class="start_work">Начать работу: <i class="data_box_account">{{ job.startDate|date("d.m.Y") }}</i></p>
                </div>
            </div>
        </div>
        <div class="title_vacan_box">
            <div class="title_vacan">
                <h4>{{ job.name }}</h4>
                {% if job.id in featuredJobs %}
                    <span class="remove-job-{{ job.id }} like liked" title="Удалить из избранного"></span>
                {% else %}
                    <span class="add-job-{{ job.id }} like" title="Добавить в избранное"></span>
                {% endif %}
            </div>
            <div class="date_vacan">
                <p>{{ job.created|format_datetime(locale='ru') }}</p>
            </div>
        </div>
        <div class="person_description_vacan">
            <p>{{ job.description|length > 150 ? job.description|slice(0, 150) ~ '...' : job.description }}</p>
        </div>

        <div class="additional-info additional-info-{{ job.id }} hidden">
            <h3>Контакты работодателя</h3>
            <p>ФИО контактного лица: {{ job.contactFullName }}</p>
            <p>Email: <a class="link" href="mailto:{{ job.owner.email }}?subject=Запрос на выполнение работы">{{ job.owner.email }}</a></p>
        </div>

        <div class="btn_box_account">
            <button class="btn_box_account_one_vacan btn-show-info-{{ job.id }}">Показать контакты</button>
            <button class="btn_box_account_two_vacan btn_box_account_two_vacan_{{ job.id }}"><a href="{{ path('app_detail_job', { id: job.id}) }}">Подробнее</a></button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('span.add-job-{{ job.id }}').click(function(){
            var url = '{{ path('app_add_job_to_favorite', { id: job.id}) }}';
            dataString = 'Добавлено в избранное';
            jQuery.ajax({
                url: url,
                data: dataString,
                type: "POST",
                success:function(){
                    $(".add-job-{{ job.id }}").addClass('liked').after(' <div class="like-info">Добавлено в избранное</div>');
                },
                error:function (){}
            });
        });
        $('span.remove-job-{{ job.id }}').click(function(){
            var url = '{{ path('app_remove_job_from_favorite', { id: job.id}) }}';
            dataString = 'Удалено из избранного';
            jQuery.ajax({
                url: url,
                data: dataString,
                type: "POST",
                success:function(){
                    $(".remove-job-{{ job.id }}").removeClass('liked').after(' <div class="like-info">Удалено из избранного</div>');
                },
                error:function (){}
            });
        });

        $(".btn-show-info-{{ job.id }}").click(function(){
            $(".additional-info-{{ job.id }}").show();
            $(".btn-show-info-{{ job.id }}").addClass('hidden');
            $(".btn_box_account_two_vacan_{{ job.id }}").css('margin-left', '0');
        });
    });
</script>