<div class="regs">
    <div class="vhod"  style="cursor:pointer"><span>Сообщения</span><img src="{{ asset('assets/img/bi_chat.svg') }}"></div>
</div>
<div class="regs" >
    <div class="vhod" style="cursor:pointer">
        <a href="{{ path('app_blog') }}"><span>Блог</span></a>
        <img src="{{ asset('assets/img/blockicon.svg') }}">
    </div>
</div>
<div class="regs">
    <div class="vhod" style="cursor:pointer">
        <a href="{{ path('app_courses') }}"><span>Список курсов</span></a>
        <img src="{{ asset('assets/img/courseicon.svg') }}">
    </div>
</div>

{% if is_granted('ROLE_EMPLOYEE') %}
    <div class="btn_worker" style="cursor: pointer;">
        <a href="{{ path('app_all_profiles') }}">Поиск работника</a>
    </div>
    <div class="btn_employer" style="cursor: pointer;">
        <a href="{{ path('app_new_job') }}">Создать вакансию</a>
    </div>
{% elseif is_granted('ROLE_CUSTOMER') %}
    <div class="btn_worker" style="cursor: pointer;">
        <a href="{{ path('app_all_profiles') }}">Поиск вакансии</a>
    </div>
    <div class="btn_employer" style="cursor: pointer;">
        <a href="{{ path('app_new_worksheet') }}">Создать анкету</a>
    </div>
{% elseif is_granted('ROLE_BUYER') %}
    <div class="btn_worker" style="cursor: pointer;">
        <a>Стать работником</a>
    </div>
    <div class="btn_employer" style="cursor: pointer;">
        <a>Стать работадателем</a>
    </div>
{% else %}

{% endif %}