{% extends 'layouts/base.html.twig' %}
{% block title %}{{ worksheet.name }} - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="content">
        <div class="bread">
            <a href="{{ path('app_main') }}" class="nuxt-link-active main_vavancies">Главная</a>
            <a href="{{ path('app_all_workers') }}" class="nuxt-link-active main_vavancies">Анкеты</a>
<!--            <a href="" class="main_vavancies">Няня</a>-->
            <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">{{ worksheet.name }}</a>
        </div>
        <div class="mobfile mobs">
            <p>{{ worksheet.user.firstName }} {{ worksheet.user.lastName }}</p>
        </div>
        <div class="large_one_vacan fon">
            <div class="in_one_vacan">
                <div class="bord">
                    <div class="starts_one_vacan">
                        <div class="own_one_vacancy">
                            <div  class="name_one_vacan">
                                <div class="round_one_vacan">
                                    <img src="{{ asset('assets/img/name.svg') }}" class="lazyLoad isLoaded" alt="">
                                </div>
                                <div class="about_one_vacan">
                                    <div class="var_account">
                                        <p class="point_one_vacan">{{ worksheet.user.firstName }} {{ worksheet.user.lastName }}</p>
                                        <img class="verif_green lazyLoad isLoaded" src="{{ asset('assets/img/verif_green.svg') }}" alt="">
                                    </div>
                                    <div class="city_one_vacan"><span>Наниматель</span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn_one_vacan nona">
                                <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Написать сообщение</a>
                            </div>
                            <div class="btn_one_vacan mobs">
                                <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Добавить в чат</a>
                            </div>
                        </div>
                        <div class="owns nona">
                            <div class="text_owns">
                                <p>Телефон подтвержден</p>
                                <p>Почта подтверждена</p>
                                <p>Паспортные данные подтверждены</p>
                            </div>
                            <div class="btn_one_vacan2">
                                <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Показать контакты</a>
                            </div>
                        </div>
                        <div  class="owns nona">
                            <div class="last">
                                <div class="ones_vacan">
                                    <h4>Зарегистрирован</h4>
                                    <span class="timeago" title="{{ worksheet.user.created|date("Y-m-d H:i:s") }}"></span>
                                </div>
                                {% if worksheet.user.lastlogin is not null %}
                                    <div class="ones_vacan">
                                        <h4>Был последний раз</h4>
                                        <span class="timeago" title="{{ worksheet.user.lastlogin|date("Y-m-d H:i:s") }}"></span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="btn_one_vacan3">
                                <img src="{{ asset('assets/img/like.svg') }}" class="lazyLoad isLoaded" alt="">
                                <a href="#" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">
                                    Добавить в избранное
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next_one_vacan">

                    <div class="yet_one_vacan">
                        <div class="like_one_vacan">
                            <h3>{{ worksheet.name }}</h3>
                            <img class="img_like_mob mobs lazyLoad" src="{{ asset('assets/img/like.svg') }}" alt="">
                        </div>
                        <div class="dates mobs">
                            <span>5 ноября</span>
                        </div>
                    </div>
                    <div class="cols_one_vacan">
                        <div class="line_one_vacan">
                            <div class="city2_one_vacan">
                                <img  src="{{ asset('assets/img/city_map.svg') }}" class="lazyLoad isLoaded" alt="">
                                <span>{{ worksheet.city.name }}, {{ worksheet.address }}</span>
                            </div>
                            <div class="city2_one_vacan">
                                <p>Оплата:</p>
                                <span>{{ worksheet.payment }}</span>
                            </div>
                            <div class="city2_one_vacan">
                                <p>Начать работу:</p>
                                <span>{{ worksheet.startDate|date("d.m.Y") }}</span>
                            </div>
                            <div class="city2_one_vacan nona">
                                <span>Возраст:</span>
                                <p>{{ worksheet.age }} лет</p>
                            </div>
                        </div>
                        <div class="line_one_vacan bots">
                            <div class="city2_one_vacan">
                                <span>Образование:</span>
                                <p>{{ worksheet.education }}</p>
                            </div>
                            <div class="city2_one_vacan">
                                <span>Опыт работы: </span>
                                <p>{{ worksheet.experience }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="tit_one_vacan nona">
                        <img src="{{ asset('assets/img/blockicon.svg') }}" class="lazyLoad isLoaded" alt="">
                        <h4>Описание</h4>
                    </div>
                    <p class="up_one_vacan nona">{{ worksheet.description|nl2br }}</p>
                    <div class="more mobs">
                        <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Подробнее</a>
                    </div>
                    <div class="road mobs">

                        <button class="accordion_filter_one_vacan want_one_vacan">
                            <img src="{{ asset('assets/img/roads.svg') }}" class="lazyLoad" alt="">
                            <span>Обязанности</span>
                            <img src="{{ asset('assets/img/str2.svg') }}" class="lazyLoad" alt="">
                        </button>
                        
                        <button class="accordion_filter_one_vacan want_one_vacan">
                            <img src="{{ asset('assets/img/la_clipboard-listss.svg') }}" class="lazyLoad" alt="">
                            <span>Дополнительно</span>
                            <img src="{{ asset('assets/img/str2.svg') }}" class="lazyLoad" alt="">
                        </button>
                        <div class="panel_filter">
                            <div class="inside_creating_vacan" v-if="three">
                                <div class="win_one_vacan">
                                    <p>Есть загран паспорт</p>
                                </div>
                                <div class="win_one_vacan">
                                    <p>Есть автомобиль</p>
                                </div>
                                <div class="win_one_vacan">
                                    <p>Есть водительские права</p>
                                </div>
                            </div>
                        </div>

                        <!---->
                        <button class="accordion_filter_one_vacan want_one_vacan">
                            <img src="{{ asset('assets/img/Groupsis.svg" src="/preload.gif') }}" class="lazyLoad" alt="">
                            <span>Способ связи</span>
                            <img src="{{ asset('assets/img/str2.svg" src="/preload.gif" src="/preload.gif') }}" class="lazyLoad" alt="">
                        </button>
                        <div class="panel_filter">

                            <div class="inside_creating_vacan" v-if="four">
                                <div class="week_creating_form">
                                    <p>Звонок по телефону</p>
                                </div>
                                <div class="week_creating_form">
                                    <p>Telegram</p>
                                </div>
                            </div>
                        </div>

                        <!---->
                        <div class="btn_contact_mob">
                            <a href="#" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Показать контакты</a>
                        </div>
                    </div>

                    {% if worksheet.tasks %}
                        <div  class="simple_one_vacan nona">
                            {% for task in worksheet.tasks %}
                                <div class="sim">
                                    <img src="{{ asset('assets/img/Ellipse.svg ') }}" class="lazyLoad isLoaded">
                                    <p>{{ task.name }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}


                    <div  class="tit_one_vacan img nona">
                        <img src="{{ asset('assets/img/la_clipboard-list.svg') }}" class="lazyLoad isLoaded" alt="">
                        <h4>Дополнительно</h4>
                    </div>
                    <div class="city2_one_vacan up2 nona">
                        <p >Место работы:</p>
                        <span>без проживания</span>
                    </div>

                    {% include 'partials/pages/script/temp/_scheduler_mobie.html.twig' %}

                    <div class="tit_one_vacan img communication_method nona">
                        <img src="{{ asset('assets/img/phone.svg') }}" class="lazyLoad isLoaded" alt="">
                        <h4>Предпочитаемый способ связи</h4>
                    </div>
                    <div class="sim bigs nona">
                        <img src="{{ asset('assets/img/Ellipse.svg') }}" class="lazyLoad isLoaded" alt="">
                        <p>Звонок по телефону</p>
                    </div>
                    <div class="double_one_vacan nona">
                        <div  class="btn_one_vacan">
                            <a href="{{ path('app_all_workers') }}" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Венуться к вакансиям</a>
                        </div>
                        <div class="btn_one_vacan2">
                            <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Другие вакансии</a>
                        </div>
                    </div>
                    {#{% include 'partials/worksheet/_related.html.twig' %}#}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            jQuery("span.timeago").timeago();
        });
    </script>

    {% include 'partials/footer.html.twig' %}
{% endblock %}

