{% extends 'layouts/base.html.twig' %}
{% block title %}{{ worksheet.name }} - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="content">
        <div class="bread">
            <a href="{{ path('app_main') }}" class="nuxt-link-active main_vavancies">Главная</a>
            <a href="{{ path('app_all_workers') }}" class="nuxt-link-active main_vavancies">Анкеты</a>
            <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">{{ worksheet.name }}</a>
        </div>
        <div class="mobfile mobs">
            <p>Вакансия {{ worksheet.name }}</p>
        </div>
        <div class="large_one_vacan fon">
            <div class="in_one_vacan">
                <div class="bord">
                    <div class="starts_one_vacan">
                        <div class="own_one_vacancy">
                            <div  class="name_one_vacan">
                                <div class="round_one_vacan">
                                    <img src="{{ asset('assets/img/name.svg') }}" class="lazyLoad isLoaded" alt="">
                                </div>
                                <div class="about_one_vacan">
                                    <div class="var_account">
                                        <p class="point_one_vacan">{{ worksheet.user.firstName }} {{ worksheet.user.lastName }}</p>
                                        <!-- ToDo -->
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <img class="verif_green lazyLoad isLoaded" src="{{ asset('assets/img/verif_green.svg') }}" alt="">
                                        {% else %}
                                            <img class="verif_green lazyLoad isLoaded" src="{{ asset('assets/img/verif.svg') }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="city_one_vacan"><span>Работник</span></div>
                                </div>
                            </div>

                            {% if app.user %}
                                {% if user.id == worksheet.user.id %}
                                    <div class="btn_one_vacan nona">
                                        <a class="isDisabled">Написать сообщение</a>
                                    </div>
                                {% else %}
                                    <div class="btn_one_vacan nona">
                                        <a href="{{ path('app_selected_chat', { id: worksheet.user.id}) }}" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Написать сообщение</a>
                                    </div>
                                {% endif %}
                            {% endif %}



                            {#                            <div class="btn_one_vacan mobs">#}
                            {#                                <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Добавить в чат</a>#}
                            {#                            </div>#}
                        </div>
                        <div class="owns nona">
                            <div class="text_owns">
                                <p>Телефон подтвержден</p>
                                <p>Почта подтверждена</p>
                           
                            </div>
                            {% if app.user %}
                            <div class="btn_one_vacan2">
                                <span aria-current="page" class="nuxt-link-exact-active nuxt-link-active btn-show-info-{{ worksheet.id }}">Показать контакты</span>
                            </div>
                            {% endif %}
                        </div>
                        <div  class="owns nona">
                            <div class="last">
                                <div class="ones_vacan">
                                    <h4>Зарегистрирован</h4>
                                    <span class="timeago" title="{{ worksheet.user.created|date("Y-m-d H:i:s") }}"></span>
                                </div>
                                {% if worksheet.user.lastlogin is not null %}
                                    <div class="ones_vacan">
                                        <h4>Был последний раз</h4>
                                        <span class="timeago" title="{{ worksheet.user.lastlogin|date("Y-m-d H:i:s") }}"></span>
                                    </div>
                                {% endif %}
                            </div>
                            {% if app.user %}
                                {% if worksheet.id in featuredProfiles %}
                                    <div class="btn_one_vacan3">
                                        <span class="remove-job-{{ worksheet.id }} detail-liked ">Удалить из избранного</span>
                                    </div>
                                {% else %}
                                    <div class="btn_one_vacan3">
                                        <span class="add-job-{{ worksheet.id }} detail-like ">Добавить в избранное</span>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if app.user %}
                                    <div class="btn_one_vacan3">
                                        <img src="{{ asset('assets/img/like.svg') }}" class="lazyLoad isLoaded" alt="">
                                        <a href="{{ path('app_login') }}" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Добавить в избранное</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="next_one_vacan">
                    <div class="yet_one_vacan">
                        <div class="like_one_vacan">
                            <h3>{{ worksheet.name }}</h3>
                            <img class="img_like_mob mobs lazyLoad" src="{{ asset('assets/img/like.svg') }}" alt="">
                        </div>

                        {% if app.user %}
                        <div class="additional-info additional-info-{{ worksheet.id }} hidden">
                            <h3>Контакты работника</h3>
                            <p>ФИО контактного лица: {{ worksheet.contactFullName }}</p>
                            <p>Email: <a class="link" href="mailto:{{ worksheet.user.email }}?subject=Запрос на выполнение работы">{{ worksheet.user.email }}</a></p>
                        </div>
                        {% endif %}

                        <div class="dates mobs">
                            <span>5 ноября</span>
                        </div>
                    </div>
                    <div class="cols_one_vacan">
                        <div class="line_one_vacan">
                            <div class="city2_one_vacan">
                                <img  src="{{ asset('assets/img/city_map.svg') }}" class="lazyLoad isLoaded" alt="">
                                <span>{{ worksheet.city.name }} {% if worksheet.address %}, {{ worksheet.address }} {% endif %}</span>
                            </div>
                            {% if worksheet.payment %}
                                <div class="city2_one_vacan">
                                    <p>Оплата:</p>
                                    <span>{{ worksheet.payment }}</span>
                                </div>
                            {% endif %}

                            <div class="city2_one_vacan">
                                <p>Начать работу:</p>
                                {% if worksheet.startNow == 1 %}
                                    <span>Сейчас</span>
                                {% else %}
                                    <span>{{ worksheet.startDate|date("d.m.Y") }}</span>
                                {% endif %}
                            </div>
                            <div class="city2_one_vacan nona">
                                <span>Возраст:</span>
                                <p>{{ worksheet.age }} лет</p>
                            </div>
                        </div>
                        <div class="line_one_vacan bots">
                            <div class="city2_one_vacan">
                                <span>Образование:</span>
                                <p>{{ worksheet.education }}</p>
                            </div>
                            <div class="city2_one_vacan">
                                <span>Опыт работы: </span>
                                <p >{{ worksheet.experience }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tit_one_vacan nona">
                        <img src="{{ asset('assets/img/blockicon.svg') }}" class="lazyLoad isLoaded" alt="">
                        <h4>Описание</h4>
                    </div>
                    <p class="up_one_vacan nona">{{ worksheet.description|nl2br }}</p>
                    <div class="more mobs">
                        <a href="" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Подробнее</a>
                    </div>

                    {#<div class="road mobs">Here was a mobile box</div>#}

                    <div  class="simple_one_vacan nona">
                        {% for additional in worksheet.additional %}
                            <div class="sim">
                                <img src="{{ asset('assets/img/Ellipse.svg') }}" class="lazyLoad isLoaded" alt="">
                                <p>{{ additional.name }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div  class="tit_one_vacan img nona">
                        <img src="{{ asset('assets/img/la_clipboard-list.svg') }}" class="lazyLoad isLoaded" alt="">
                        <h4>Дополнительно</h4>
                    </div>

{#                    <div class="city2_one_vacan up2 nona">#}
{#                        {% if worksheet.accommodations|length > 0 %}#}
{#                            <p >Место работы:</p>#}
{#                            {% for accommodation in worksheet.accommodations %}#}
{#                                <span>{{ accommodation.name }}</span>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}

{#                        {% if worksheet.busynesses|length > 0 %}#}
{#                            <p >Занятость:</p>#}
{#                            {% for busyness in worksheet.busynesses %}#}
{#                                <span>{{ busyness.name }}</span>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                    </div>#}

{#                    {% include 'partials/pages/job/_scheduler_detail.html.twig' %}#}

                    <div class="tit_one_vacan img communication_method nona">
                        <img src="{{ asset('assets/img/phone.svg') }}" class="lazyLoad isLoaded" alt="">
                        <h4>Предпочитаемый способ связи</h4>
                    </div>
                    <div class="sim bigs nona">
                        <img src="{{ asset('assets/img/Ellipse.svg') }}" class="lazyLoad isLoaded">
                        <p>Звонок по телефону</p>
                    </div>
                    <div class="double_one_vacan nona">
                        {% if is_granted('ROLE_CUSTOMER') %}
                            <div  class="btn_one_vacan">
                                <a  href="{{ path('app_my_worksheets') }}" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Венуться к анкетам</a>
                            </div>
                        {% endif %}
                        <div class="btn_one_vacan2">
                            <a href="{{ path('app_all_workers') }}" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Другие анкеты</a>
                        </div>
                    </div>

                    {% if relatedJobs|length > 0 %}
                        <h5 class="similar_jobs nona">Похожие анкеты</h5>
                        <div class="owl-carousel owl-theme" id="slider_one_vacan">
                            {% for worksheet in relatedJobs %}
                                <slide>
                                    <div class="box_account_one_vacan">
                                        {% include 'partials/pages/worksheet/slider/_worksheet_item.html.twig' %}
                                    </div>
                                </slide>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            jQuery("span.timeago").timeago();

            $('span.add-job-{{ worksheet.id }}').click(function(){
                var url = '{{ path('app_add_worksheet_to_favorite', { id: worksheet.id}) }}';
                dataString = 'Добавлено в избранное';
                jQuery.ajax({
                    url: url,
                    data: dataString,
                    type: "POST",
                    success:function(){
                        $(".add-job-{{ worksheet.id }}").css('display', 'none').after(' <span class="add-job-3 detail-liked lazyLoad isLoaded">Добавлено в избранное</span>');
                    },
                    error:function (){}
                });
            });
            $('span.remove-job-{{ worksheet.id }}').click(function(){
                var url = '{{ path('app_remove_worksheet_from_favorite', { id: worksheet.id}) }}';
                dataString = 'Удалено из избранного';
                jQuery.ajax({
                    url: url,
                    data: dataString,
                    type: "POST",
                    success:function(){
                        $(".remove-job-{{ worksheet.id }}").css('display', 'none').after(' <span class="add-job-3 detail-like lazyLoad isLoaded">Удалено из избранного</span>');
                    },
                    error:function (){}
                });
            });

            $(".btn-show-info-{{ worksheet.id }}").click(function(){
                $(".additional-info-{{ worksheet.id }}").toggle();
                //$(".btn-show-info-{{ worksheet.id }}").addClass('hidden').after(' <span class="btn-hidden-info-{{ worksheet.id }}">Скрыть контакты</span>');
            });

            {#$(document).on("click", ".btn-hidden-info-{{ worksheet.id }}" , function() {#}
            {#    $(this).parent().remove();#}
            {#    $(".additional-info-{{ worksheet.id }}").hide();#}
            {#    $(".btn-show-info-{{ worksheet.id }}").removeClass('hidden').after(' <span aria-current="page" class="nuxt-link-exact-active nuxt-link-active btn-show-info-{{ worksheet.id }}">Показать контакты</span>');#}
            {#});#}

            {#$(".btn-hidden-info-{{ worksheet.id }}").click(function(){#}
            {#    alert('sadasd');#}
            {#    //$(".additional-info-{{ worksheet.id }}").hide();#}
            {#    //$(".btn-show-info-{{ worksheet.id }}").removeClass('hidden').after(' <span aria-current="page" class="nuxt-link-exact-active nuxt-link-active btn-show-info-{{ worksheet.id }}">Показать контакты</span>');#}
            {#});#}

        });
    </script>
    {% include 'partials/footer.html.twig' %}
{% endblock %}
