{% extends 'layouts/map.html.twig' %}
{% block title %}Редактировать анкету - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">

    {% include 'partials/header.html.twig' %}
    <div>
        <div class="main_account content">
            <div  class="bread">
                <a href="/" class="nuxt-link-active">Главная</a>
                <a href="{{ path('app_lk') }}">/ Личный кабинет</a>
                <a>/ Редактировать анкету</a>
            </div>
            <div class="mobfile mobs">
                <p>Мой профиль</p>
            </div>
            <div class="large_account fon">
                <div class="in_account">
                    {% include 'partials/_message.html.twig' %}

                    <h2>Редактировать анкету</h2>
                    {{ form_start(form, {'attr' : {'class': 'form-std form-std-custom', 'autocomplete': 'off'}} ) }}
                    <div class="large_creating_form fon">
                        <div class="in_creating_form">
                            <div class="hide" v-if="one">
                                <div class="abouts_creating_form grid_creating_form">
                                    <div class="dom_creating_form">
                                        <p class="required">ФИО контактного лица</p>
                                        {{ form_row(form.contactFullName) }}
                                    </div>
                                </div>

                                <div class="abouts_creating_form grid_creating_form">
                                    <div class="dom_creating_form">
                                        <p class="required">Город:</p>
                                        <input type="text" id="worksheet_form" name="worksheet_form[city]" required="required" placeholder="Ваш город" class="form-control" value="{{ worksheet.city.name }}">
                                    </div>

{#                                    <div class="dom_creating_form">#}
{#                                        <p>Район</p>#}
{#                                        <select id="worksheet_form_district" name="worksheet_form[district]" class="text_input" disabled>#}
{#                                            {% for district in districts %}#}
{#                                                {% if job.district.id is defined %}#}
{#                                                    <option>Выберите район</option>#}
{#                                                    <option data-list-id="{{ district.city.id }}" value="{{ district.id }}" {% if district.id == worksheet.district.id %} selected {% endif %}>#}
{#                                                        {{ district.name }}#}
{#                                                    </option>#}
{#                                                {% endif %}#}
{#                                            {% endfor %}#}
{#                                        </select>#}
{#                                    </div>#}

                                    <div class="dom_creating_form adress__form">
                                        <p class="required">Адрес</p>
                                        {{ form_row(form.address) }}
                                    </div>
                                </div>


                                <div class="single-map" style="min-width: 640px;">
                                    <div id="map" style="height: 480px; width: 100%;"></div>
                                    <script type="text/javascript">
                                        var map = L.map( 'map', {
                                            center: [{{ lat }}, {{ lng }}],
                                            zoom: 11,
                                        });

                                        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                                            subdomains: ['a','b','c']
                                        }).addTo(map);

                                        var marks = [
                                            {% if worksheet.city is not null %}
                                            {% set description = '' %}
                                            {% if worksheet.description %}
                                            {% set description = worksheet.description|striptags|u.truncate(50,  '...')  %}
                                            {% endif %}
                                            {% if worksheet.latitude and worksheet.longitude %}
                                            { text: '<h4>{{ worksheet.name}}</h4> <br /> Разместил(а): {{ worksheet.user }}  <img class="rounded map-img" src="{{ asset('uploads/files/' ~ worksheet.user.avatar) }}" width="50" height="50"/> Стоимость:{{ worksheet.payment }} <br /><a href="{{ path('app_detail_job', { id: worksheet.id}) }}">Подробнее ... </a>', latlng: [{{ worksheet.latitude }}, {{ worksheet.longitude }}], },
                                            {% endif %}
                                            {% endif %}
                                        ];
                                        for(var i = 0; i<=marks.length; i++) {
                                            L.marker(marks[i].latlng)
                                                .bindPopup(marks[i].text, {
                                                    direction: 'top',
                                                    sticky: false,
                                                    offset: [0, -15],
                                                })
                                                .addTo(map);
                                        }
                                    </script>
                                </div>

                                <div class="abouts_creating_form grid_creating_form">
                                    <div class="dom_creating_form">
                                        <p class="required">Категория</p>
                                        {{ form_row(form.category) }}
                                    </div>
                                    <div class="dom_creating_form adress__form">
                                        <p class="required">Краткое описание анкеты</p>
                                        {{ form_row(form.name) }}
                                    </div>
                                </div>

                                <div class="did mobs">
                                    <img src="{{ asset('assets/img/gala.svg') }}" alt="">
                                    <a href="">Выполнено</a>
                                </div>
                            </div>

                            <div class="hide">
                                <div class="abouts_creating_form">
                                    <p>Когда вы можете приступить к работе</p>
                                    <div class="date_creating_form">
                                        <input type="date" id="worksheet_form_startDate" name="worksheet_form[startDate]" class="text_input date">
                                        <div class="but_creating_form">
                                            <label for="checkbox" class="work_start_now">Незамедлительно
                                                {{ form_widget(form.startNow) }}
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="contract_ques">
                                    <div class="abouts_creating_form">
                                        <p>Оплата</p>
                                        <div class="ques_creating_form">
                                            {{ form_row(form.payment) }}
                                            <div class="but_creating_form">
                                                <label for="checkbox" class="work_contract_ques">По договорённости
                                                    {{ form_widget(form.paymentByAgreement) }}
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="advertisement_creating_form">
                                    <p>Объявление:</p>
                                    {{ form_widget(form.description) }}
                                </div>
                                <div class="reviews_creating_form">
                                    <p>Отзывы</p>
                                    {{ form_widget(form.reviews) }}
                                </div>

                                <div class="did mobs">
                                    <img src="{{ asset('assets/img/gala.svg') }}" alt="">
                                    <a href="">Выполнено</a>
                                </div>
                            </div>

                            <div class="hide" v-if="three">
                                <div class="tops">
                                    <div class="only">
                                        <p>Навыки:</p>
                                    </div>
                                    <button class="choose_creating_form mobs accordion_filter_one_vacan">
                                        <span>Выберите из списка</span>
                                        <img src="{{ asset('assets/img/str.svg') }}" class="lazyLoad" alt="">
                                    </button>
                                    <div class="panel_filter">

                                        <div class="need_creating_form">
                                            <section>
                                                {% for task in tasks %}
                                                    <label for="chk{{ task.id }}" class="tasks"
                                                           data-work="{% if task.category %}{% for category in task.category %}j-{{ category.id }} {% endfor %}{% endif %}">
                                                        <input type="checkbox" id="chk{{ task.id }}" name="worksheet_form[task][]" value="{{ task.id }}"
                                                                {% if task.id in selectedTasksArr %} checked {% endif %}>
                                                        <span>{{ task.name }}</span></label>
                                                {% endfor %}
                                            </section>
                                            <div class="abouts_creating_form">
                                                {{ form_widget(form.anotherTask) }}
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
 
                            <div class="hide">
                                {% include 'partials/pages/worksheet/_busyness.html.twig' %}
                                <!-- <p class="arm_creating_form">Или добавьте вручную</p>
                                <button class="choose_creating_form mobs accordion_filter_one_vacan">
                                    <span>Добавьте вручную</span>
                                    <img src="{{ asset('assets/img/str.svg') }}" class="lazyLoad" alt="">
                                </button> -->
                            </div>

{#                            <div class="hide">#}
{#                                <div class="foto_creatig_form">#}
{#                                    <div class="add_creating_form">#}
{#                                        <img src="{{ asset('assets/img/plus.svg') }}" alt="">#}
{#                                        <span>Загрузить фотографию</span>#}
{#                                    </div>#}
{#                                    <div class="add_photo">#}
{#                                        <div class="field__wrapper">#}
{#                                            {{ form_widget(form.image) }}#}
{#                                            <label class="field__file-wrapper" for="worksheet_form_image">#}
{#                                                <div class="field__file-fake">Файл не вбран</div>#}
{#                                                <div class="field__file-button">Выбрать</div>#}
{#                                            </label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="face">#}
{#                                        <span>Добавьте фото и получите бесплатный доступ<br> к платформе на 3 дня</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

                            <div class="but_creating_form send_message">
                                <button type="submit">Обновить анкету</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        createDependableList ( '#worksheet_form_city', '#worksheet_form_district' );
        $('#worksheet_form_city').change(function() {
            $('#worksheet_form_district').prop('disabled', false);
        });
        function onlyOne(checkbox) {
            var checkboxes = document.getElementsByName('worksheet_form[citizenship]')
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            })
        }
        function onlyOneAccommodation(checkbox) {
            var checkboxes = document.getElementsByName('worksheet_form[accommodation]')
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            })
        }
        function onlyOneBusyness(checkbox) {
            var checkboxes = document.getElementsByName('worksheet_form[busyness]')
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            })
        }

        $( "#worksheet_form" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "{{ path('api_cities') }}",
                    dataType: "json",
                    type: "POST",
                    data: {
                        maxRows: 15,
                        name: request.term
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.name,
                                lat: item.lat,
                                lng: item.lng,
                                district: item.district
                            }
                        }));
                    }
                });
            },
            minlength: 2
        });

    </script>

    {% include 'partials/footer.html.twig' %}
{% endblock %}
