<footer>
    <div class="podval content">
        <div class="top">
            <div class="one">
                <img class="logo" src="{{ asset('assets/img/logo.svg') }}">
                <a href="tel:+79295959428">+7(929)59-59-428</a>
                <div class="conf">
                    <p>Политика конфиденциальности</p>
                    <p>Обработка персональных данных</p>
                </div>
            </div>

            <div class="two move footer-link">
                <h3>Вакансии</h3>
                <p><nuxt-link to="/vacancies"><a href="">Все вакансии</a></nuxt-link></p>
                <p><nuxt-link to="/vacancies/nyanya"><a href="">Для нянь</a></nuxt-link></p>
                <p><nuxt-link to="/vacancies/sidelki"><a href="">Для сиделок</a></nuxt-link></p>
                <p><nuxt-link to="/vacancies/domrabotnica"><a href="">Для домработниц</a></nuxt-link></p>
                <p><nuxt-link to="/vacancies/master-na-chas"><a href="">Для психологов</a></nuxt-link></p>
            </div>

            <div class="two footer-link">
                <h3>Анкеты</h3>
                <p><nuxt-link to="/employee"><a href="">Все анкеты</a> </nuxt-link></p>
                <p><nuxt-link to="/employee/nyanya"><a href="">Няни</a></nuxt-link></p>
                <p><nuxt-link to="/employee/sidelki"><a href="">Сиделки</a></nuxt-link></p>
                <p><nuxt-link to="/employee/domrabotnica"><a href="">Домработницы</a></nuxt-link></p>
                <p><nuxt-link to="/employee/master-na-chas"><a href="">Психологи</a></nuxt-link></p>
            </div>

            <div class="three">
                <h3>Служба поддержки</h3>
                <div class="button_footer">
                    <nuxt-link to=""><a href="">Написать</a></nuxt-link>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="go">
                <p>Присоеденяйтесь к нам</p>
                <div class="sety">
                    <nuxt-link to="">
                        <img src="{{ asset('assets/img/ant-design_instagram-filled.svg') }}">
                    </nuxt-link>
                    <nuxt-link to="">
                        <img src="{{ asset('assets/img/akar-icons_youtube-fill.svg') }}">
                    </nuxt-link>
                    <nuxt-link to="">
                        <img src="{{ asset('assets/img/bi_facebook.svg') }}">
                    </nuxt-link>
                </div>
            </div>

            <div class="inet">
                <img src="{{ asset('assets/img/googleplay.svg') }}">
                <img src="{{ asset('assets/img/appstore.svg') }}">
            </div>
        </div>
    </div>
</footer>