{% extends 'layouts/base.html.twig' %}
{% block title %}История платежей - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    {% include 'partials/header.html.twig' %}
    <div class=" content">
        <div class="bread_personal_account">
            <a href="{{ path('app_main') }}" class="nuxt-link-active">Главная</a>
            <a>/ История платежей</a>
        </div>

        
            <div class="in_creating_form history__btn">
                {% include 'partials/_message.html.twig' %}
                <div class="btn_employer" style="cursor: pointer;">
                   <a href="{{ path('app_download_history') }}">Скачать историю</a>
                </div>

                    {% if orders %}
                        {% for order in orders %}
                            <div class="history__pay fon">
                                <div class="history__pay-box1">
                                    <p class="history__header">Номер заказа</p>
                                    <p class="history__text">{{ order.id }}</p>
                                </div>
                                <div class="history__pay-box2">
                                    <p class="history__header">Номер телефона</p>
                                    <p class="history__text">{{ order.user.phone }}</p>
                                </div>
                                <div class="history__pay-box3">
                                    <p class="history__header">Дата платежа</p>
                                    <p class="history__text">{{ order.created|date("Y-m-d H:i:s") }}</p>
                                </div>
                                <div class="history__pay-box5">
                                    <p class="history__header">Сумма платежа</p>
                                    <p class="history__text">{{ order.tariff.amount / 100 }} ₽</p>
                                </div>
{#                                <div class="history__pay-box5">#}
{#                                    <p class="history__header">Метод оплаты</p>#}
{#                                    <p class="history__text">Оплата картой выпущенной в РФ</p>#}
{#                                </div>#}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="history__pay fon">
                            <p>У вас пока нет заказов</p>
                        </div>
                    {% endif %}
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}
