{% extends 'layouts/base.html.twig' %}
{% block title %}О Компании - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="about_company">
        <div class="block1_company">
            <div class="main_company content">
                <img class="abs" src="{{ asset('assets/img/lefts.svg') }}">
                <div class="text">
                    <h2>О платформе NOPROBLEM</h2>
                    <h3>Каждый, кто оказался на этом сайте, столкнулся с проблемой поиска домашнего персонала</h3>
                    <div class="about">
                        <p>Кто-то из вас ищет заботливую и надежную няню своему малышу, кто-то нуждается в поддержке своих родственников, близких, кто-то хочет сэкономить время и получить помощь в бытовых вопросах. Нас всех объединяет одно - мы хотим получать качественную квалифицированную помощь. </p>
                        <p>Так и родилась компания No problem. Потому что мы делаем всё для того, чтобы персонал и работодатель не только нашли друг друга, но и подошли друг другу и смогли сотрудничать долго. </p>
                    </div>
                </div>
                <img class="abs3" src="{{ asset('assets/img/Decopoi.svg') }}">
                <img class="abs4" src="{{ asset('assets/img/abs4.svg') }}">
                <div class="foto">
                    <img src="{{ asset('assets/img/Anastasia.jpeg') }}">
                    <p>Учредитель компании Анастасия Горшенёва</p>
                </div>
                <img class="abs2" src="{{ asset('assets/img/abs.svg') }}">
            </div>
        </div>

        <div class="block2_company">
            <div class="idea content">
                <img class="abs5" src="{{ asset('assets/img/abs5.svg') }}">
                <img class="abs6" src="{{ asset('assets/img/socoso.png') }}">
                <h3>“Идея о создании платформы родилась давно” -<br> пишет учредитель компании Анастасия Горшенёва.</h3>
                <div class="list">
                    <div class="txt">
                        <p>Мой папа стал инвалидом первой степени после инсульта,
                            он стал лежачим, а нам нужно было работать, и мы всей семьёй искали сиделку. Сиделки менялись часто, часто не справлялись со своей работой, потому что просто не знали как. И нам и папе было очень сложно постоянно принимать нового человека в семью, сложно было привыкать. Мы не могли себе позволить оплачивать услуги дорогостоящих агентств по подбору персонала, поэтому искали самостоятельно на различных сайтах или через знакомых. </p>
                        <p>Когда мы с мужем переехали в свой дом, я столкнулась с некачественными услугами домработниц. То, что они иногда просто не замечали пыль или паутину - самое безобидное из их ошибок.
                            А вот испорченная плита и паркет - такая ошибка стоила нам денег. </p>
                    </div>
                    <div class="txt">
                        <p>Потом я столкнулась с поиском няни для своего малыша.
                            И здесь возникла та же проблема. Вроде и большой выбор нянь, но сложно найти именно ту, которая идеально подойдёт. Думаю, что любая мама меня поймёт: оставить ребёнка
                            с незнакомым человеком - это ещё тот стресс, поэтому каждая мама к выбору подходит тщательно. Сколько времени я потратила на это… Даже страшно вспомнить! Но в итоге - так и не нашла. Спасибо родственникам, которые помогали, чтобы я продолжала учиться и работать</p>
                    </div>
                </div>
                <img class="abs7" src="{{ asset('assets/img/abs77.svg') }}">
            </div>
        </div>

        <div class="block3_company">
            <div class="after content">
                <img class="abs8" src="{{ asset('assets/img/dradada.svg') }}">
                <h3>После всего этого, я поняла, что есть несколько важных причин<br> из-за которых не получается найти хороший домашний персонал:</h3>
                <div class="grids">
                        <div class="box">
                            <div class="">
                                <p>Мы не проверяем сотрудников, которых принимаем на работу. Не знаем<br> об их прошлом (например, был ли человек судим, есть ли у него мед<br> образование, есть ли мед книжка и т. д.)</p>
                                <div class="number">
                                    <span>01.</span>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="">
                                <p>Мы не умеем проводить собеседования. Поэтому берём на<br> работу просто лишь бы кого, а через некоторое время<br> оказывается, что мы друг другу не подходим по ряду причин и<br> приходится искать нового человека.</p>
                                <div class="number2">
                                    <span>02.</span>
                                </div>
                            </div>
                        </div>
                    <div class="">
                        <div class="box">
                            <div class="">
                                <p>Чаще всего персонал, который мы нанимаем не имеет достаточных знаний для того, чтобы осуществлять свою работу качественно.</p>
                                <div class="number3">
                                    <span>03.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <img class="abs9" src="{{ asset('assets/img/Decododo.svg') }}">
                <img class="abs10" src="{{ asset('assets/img/oblako.svg') }}">
            </div>
        </div>

        <div class="block4_company">
            <div class="feel content company__padding">
                <img class="abs11" src="{{ asset('assets/img/absa11.svg') }}">
                <img class="abs12" src="{{ asset('assets/img/half.svg') }}">
                <h3>Я прочувствовала на себе насколько важно решить эти задачи.<br> Поэтому мы создали новую платформу, которая будет работать<br />
                    для Вас и соблюдать Ваши интересы!
                </h3>
                <div class="grid">
                    <div class="dom">
                        <div class="image ones">
                            <img src="{{ asset('assets/img/free-icon-checkeds.svg') }}">
                        </div>
                        <p>У нас нет ботов - каждый человек реален. Защита данных. Мы не передаём Ваши данные третьим лицам без Вашего согласия</p>
                    </div>

                    <div class="dom">
                        <div class="image img__bg-two two">
                            <img src="{{ asset('assets/img/arm.svg') }}">
                        </div>
                        <p>У нас есть все необходимые материалы, для того, чтобы Вы успешно провели собеседование и могли выбрать максимально подходящий вариант</p>
                    </div>

                    <div class="dom">
                        <div class="image img__bg-three three">
                            <img src="{{ asset('assets/img/premium-icon.svg') }}">
                        </div>
                        <p>Чем больше времени Вы готовы провести на нашем сайте, тем ниже стоимость доступа! Ценность гораздо выше цены. Убедитесь в этом уже сегодня!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}