{% extends 'layouts/base.html.twig' %}
{% block title %}Тарифы - Онлайн-сервис по подбору домашнего персонала
{% endblock %}
{% block body %}
	{% include 'partials/header.html.twig' %}
	<main>
		<section class="benefit container">
			<h1 class="benefit_header"></h1>
			<div class="benefit_box">
				<h2 class="benefit_box-header">Почему выгоднее работать с нами?</h2>
				<ul class="benefit_list">

					<li class="benefit_item">
						<span class="benefit_item-number">01</span>
						<p class="benefit_item-text">Нам важно, чтобы ваш помощник выполнял свою работу хорошо,и вы были довольны, поэтому предоставляем возможность каждому помощнику пройти обучение на нашей платформе и повысить свою квалификацию</p>
					</li>

					<li class="benefit_item">
						<span class="benefit_item-number">02</span>
						<p class="benefit_item-text">Мы проверяем паспортные данные сотрудников, при необходимости делаем дополнительные проверки по различным базам</p>
					</li>

					<li class="benefit_item">
						<span class="benefit_item-number">03</span>
						<p class="benefit_item-text">Стоимость доступа к платформе ниже, чем у конкурентов</p>
					</li>

					<li class="benefit_item">
						<span class="benefit_item-number">04</span>
						<p class="benefit_item-text">У нас есть реальные отзывы</p>
					</li>

				</ul>
			</div>
		</section>

		<section class="employer container">
			<div class="employer_select-box">
				<span class="employer_select-text">Для работодателя</span>
				<button class="worker_select-btn accordion1" type="button">
					<img class="worker_select-icon" src="{{ asset('assets/img/downs.svg') }}" width="40" height="40" alt="arrow">
				</button>
			</div>
			<ul class="employer_card-list panel1" style="display:flex;">
				{% for tariff in tariffs %}
					<li class="employer_card-item">
						{% if tariff.name %}
							<p class="employer_card-header">{{ tariff.name }}</p>
						{% endif %}
						{% if tariff.description %}
							<p class="employer_card-text">{{ tariff.description }}</p>
						{% endif %}
						{% if tariff.price %}
							<div class="employer_card-box-price">
								<span class="employer_card-price">{{ tariff.price }}</span>
							</div>
						{% endif %}
						{% if tariff.priceComment %}
							<p class="employer_card-price-comment">{{ tariff.priceComment }}</p>
						{% endif %}

						{% if is_granted('ROLE_EMPLOYEE') %}
							<a class="employer_card-btn" href="pay/new?amount={{ tariff.amount }}&tariff={{ tariff.id }}" type="button">Приобрести</a>
						{% else %}
							<a class="employer_card-btn" href="{{ path('app_login') }}" type="button">Приобрести</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</section>

		<section class="worker container">
			<div class="worker_select-box">
				<span class="worker_select-text">Для работника</span>
				<button class="worker_select-btn accordion" type="button">
					<img class="worker_select-icon" src="{{ asset('assets/img/downs.svg') }}" width="40" height="40" alt="arrow">
				</button>
			</div>

			<ul class="worker_card-list panel">
				{% for tariff in tariffs %}
					<li class="employer_card-item">
						{% if tariff.name %}
							<p class="employer_card-header">{{ tariff.name }}</p>
						{% endif %}
						{% if tariff.description %}
							<p class="employer_card-text">{{ tariff.description }}</p>
						{% endif %}
						{% if tariff.price %}
							<div class="employer_card-box-price">
								<span class="employer_card-price">{{ tariff.price }}</span>
							</div>
						{% endif %}
						{% if tariff.priceComment %}
							<p class="employer_card-price-comment">{{ tariff.priceComment }}</p>
						{% endif %}

						{% if is_granted('ROLE_EMPLOYEE') %}
							<a class="employer_card-btn" href="pay/new?amount={{ tariff.amount }}&tariff={{ tariff.id }}" type="button">Приобрести</a>
						{% else %}
							<a class="employer_card-btn" href="{{ path('app_login') }}" type="button">Приобрести</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</section>
	</main>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
