{% extends 'layouts/base.html.twig' %}
{% block title %}Восстановить пароль - Онлайн-сервис по подбору домашнего персонала{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="main_account content">
        <div class="large_account fon">
            <div class="in_account">
                <div class="reset-form-content">
                    <h2 class="b_center">{{ 'Reset password'|trans }}</h2>
                    {{ form_start(requestForm, {'attr' : {'class': 'form-std form-std-custom', 'autocomplete': 'off'}} ) }}
                    {{ form_widget(requestForm.email) }}
                    <div style="margin-bottom: 20px;">
                        <small>{{ 'mail_message_reset_password'|trans }}</small>
                    </div>

                    <div class="btn_try btn_try_custom">
                        <button type="submit" class="btn btn-success">{{ 'Reset'|trans }}</button>
                    </div>
                    <!--                <p class="m_t_15"><a href="{{ path('app_login') }}">{{ 'Login'|trans }}</a></p>-->
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}
