<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <title>{% block title %}No problem{% endblock %}</title>
    <meta name="description" content="Cервис по подбору домашнего персонала NOPROBLEM занимается качественным подобором любого сотрудника в онлайн режиме. Большая база нянь, домбработниц, сиделок и других профессий. Найми сотрудника не выходя из дома.">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{#{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}#}
{% block javascripts_footer %}
    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}
</body>
</html>
