<div class="block5 content">
    <div class="help">
        <h2>Помогите нам стать лучше</h2>
        <p>Ваше мнение очень важно для нас!</p>
        <img class="str" src="{{ asset('assets/img/sarrow-back.svg') }}" alt="">
        <img class="buts" src="{{ asset('assets/img/wisw.svg') }}" alt="">
        <div class="button_block5">
            <a id="openModal" onclick="openModal()">Написать предложение</a>
        </div>
        <img class="buts2" src="{{ asset('assets/img/goes.png') }}" alt="">
        <img class="buts3" src="{{ asset('assets/img/buts3.png') }}" alt="">
    </div>
</div>
<img class="buts4" src="{{ asset('assets/img/buts4.png') }}">