<footer class="">
    <div class="footer">
        <div class="footer_contact">
            <img class="footer_logo-img" src="{{ asset('assets/css/icons/logo-footer.svg') }}" width="185" height="95" alt="logo-footer"/>
            <div class="footer_tel">
                <a class="footer_tel-link" href="tel:+79999999999">+79999999999</a>
            </div>
            <div class="footer_conf">
                <a class="footer_conf-link" href="#">Политика конфиденциальности</a>
            </div>
            <div class="footer_data">
                <a class="footer_data-link" href="#">Обработка персональных данных</a>
            </div>
        </div>

        <div class="footer_vacancies">
            <a class="footer_vacancies-link" href="#">Вакансии</a>
            <a class="footer_vacancies-link" href="#">Все вакансии</a>
            <a class="footer_vacancies-link" href="#">Для нянь</a>
            <a class="footer_vacancies-link" href="#">Для сиделок</a>
            <a class="footer_vacancies-link" href="#">Для домработниц</a>
            <a class="footer_vacancies-link" href="#">Для психологов</a>

        </div>
        <div class="footer_questionnaires">
            <a class="footer_questionnaires-link" href="#">Анкеты</a>
            <a class="footer_questionnaires-link" href="#">Все анкеты</a>
            <a class="footer_questionnaires-link" href="#">Няни</a>
            <a class="footer_questionnaires-link" href="#">Сиделки</a>
            <a class="footer_questionnaires-link" href="#">Домработницы</a>
            <a class="footer_questionnaires-link" href="#">Психологи</a>
        </div>
        <div class="footer_support">
            <span class="footer_support-text">Служба поддержки</span>
            <button class="footer_support-btn">Написать</button>
        </div>
    </div>

    <div class="footer-2">
        <div class="footer-2_social">
            <p class="footer-2_text">Присоеденяйтесь к нам</p>
            <a class="footer-2_link" href="#">
                <img class="footer-2_link-img" src="{{ asset('assets/css/icons/instagram.svg') }}" width="24" height="24" alt="insagram"/>
            </a>
            <a class="footer-2_link" href="#">
                <img class="footer-2_link-img" src="{{ asset('assets/css/icons/youtube.svg') }}" width="24" height="24" alt="youtube"/>
            </a>
            <a class="footer-2_link" href="#">
                <img class="footer-2_link-img" src="{{ asset('assets/css/icons/facebook.svg') }}" width="20" height="20" alt="facebook"/>
            </a>
        </div>

        <div class="footer-2_link-box">
            <a class="footer-2_link" href="#">
                <img class="footer-2_link-img" src="{{ asset('assets/css/icons/btn-google-play.svg') }}" width="180" height="52" alt="btn-app"/>
            </a>
            <a class="footer-2_link" href="#">
                <img class="footer-2_link-img" src="{{ asset('assets/css/icons/btn-app-store.svg') }}" width="180" height="52" alt="btn-app"/>
            </a>
        </div>
    </div>

    <div class="footer-mobile">
        <div class="footer-mobile_menu">

            <div class="footer-mobile_box">
                <a class="footer-mobile_favorites-link">
                    <span class="footer-mobile_favorites-text">Поиск</span>
                    <img class="footer-mobile_favorites-img" width="24" height="24" src="{{ asset('assets/css/icons/search.svg') }}" alt="" />
                </a>
            </div>

            <div class="footer-mobile_box">
                <a class="footer-mobile_favorites-link">
                    <span class="footer-mobile_favorites-text">Избранное</span>
                    <img class="footer-mobile_favorites-img" width="20" height="20" src="{{ asset('assets/css/icons/heart.svg') }}" alt="" />
                </a>
            </div>

            <div class="footer-mobile_box">
                <a class="footer-mobile_favorites-link">
                    <span class="footer-mobile_favorites-text">Войти</span>
                    <img class="footer-mobile_favorites-img" width="25" height="25"src="{{ asset('assets/css/icons/input.svg') }}" alt="" />
                </a>
            </div>

            <div class="footer-mobile_box">
                <a class="footer-mobile_favorites-link">
                    <span class="footer-mobile_favorites-text">Чат</span>
                    <img class="footer-mobile_favorites-img" width="25" height="25" src="{{ asset('assets/css/icons/chat.svg') }}" alt="" />
                </a>
            </div>

            <div class="footer-mobile_box">
                <a class="footer-mobile_favorites-link">
                    <span class="footer-mobile_favorites-text">Уведомления</span>
                    <img class="footer-mobile_favorites-img" width="25" height="25" src="{{ asset('assets/css/icons/notifications.svg') }}" alt="" />
                </a>
            </div>
        </div>
    </div>
</footer>