{% if reviews %}
    <section class="reviews">
        <div class="_inner">
            <h3 class="reviews_header">Отзывы о работе платформы</h3>
            <div class="reviews_list">
                {% for review in reviews %}
                    <div class="reviews_item">
                        <div class="reviews_item-img-box">
                            <img class="reviews_item-img" src="{{ asset('assets/css/icons/logo-reviews.svg') }}" width="40" height="60" alt="logo-reviews"/>
                        </div>
                        <p class="reviews_item-name">{{ review.name }}</p>
                        <p class="reviews_item-prof">{{ review.position }}</p>
                        <p class="reviews_item-text">{{ review.review }}</p>
                    </div>
                {% endfor %}
                <div class="swiper-button-prev">
                    <img class="reviews_item-prev " src="{{ asset('assets/css/icons/arrow-left.svg') }}" width="50" height="50" alt="arrow-left"/>
                </div>
                <div class="swiper-button-next">
                    <img class="reviews_item-next swiper-button-next" src="{{ asset('assets/css/icons/arrow-right.svg') }}" width="50" height="50" alt="arrow-right"/>
                </div>
            </div>
        </div>
    </section>
{% endif %}
