<section class="app">
    <h3 class="visually-hidden">Быстрее просматривайте анкеты и вакансии с нашим приложением</h3>
    <div class="app-box-img">
        <img class="app_item-img-1" src="{{ asset('assets/css/icons/app-screen-bg.svg') }}" width="657" height="490" alt="bg-reviews"/>
        <img class="app_item-img-2" src="{{ asset('assets/css/icons/app-screen.svg') }}" width="369" height="679" alt="phone-reviews"/>
        <img class="app_item-img-3" src="{{ asset('assets/css/icons/text-app.svg') }}" width="308" height="120" alt="text-reviews"/>
    </div>
    <div class="app-box-text">
        <p class="app_header">Быстрее просматривайте анкеты и вакансии с нашим приложением</p>
        <p class="app_text">Скачать можно здесь</p>
        <div class="app_link-box">
            <a class="app_link" href="#">
                <img class="app_link-img" src="{{ asset('assets/css/icons/btn-google-play.svg') }}" width="180" height="52" alt="btn-app"/>
            </a>
            <a class="app_link" href="#">
                <img class="app_link-img" src="{{ asset('assets/css/icons/btn-app-store.svg') }}" width="180" height="52" alt="btn-app"/>
            </a>
        </div>
    </div>
</section>