<div id="form" class="login modal-vue ticket-form">
    <div class="overlay"></div>

    <!-- Modal content -->
    <div class="modal" id="modal__support">
        <div class="modal-title">
            <h2>{{ 'Create ticket'|trans }}</h2>
            <button class="close" onclick="closeModal()"><img src="{{ asset('assets/img/krest.svg') }}" alt=""></button>
        </div>

        <div class="modal-content">
            {{ form_start(ticketForm, {'attr' : {'class': 'ticket-form', 'autocomplete': 'off'}} ) }}
                {{ form_widget(ticketForm.title) }}
                {{ form_widget(ticketForm.email) }}
                {{ form_widget(ticketForm.description) }}
                {{ form_widget(ticketForm.priority) }}
                <div class="btn_try btn_try_custom" id="btn__modal-support">
                    <button type="submit" class="btn btn-success">{{ 'Create ticket'|trans }}</button>
                </div>
            {{ form_end(ticketForm) }}
        </div>
    </div>
</div>

<script>
    function openModal() {
        $("#form").css("display", "block");
    }
    function closeModal() {
        $("#form").css("display", "none");
    }
</script>