<script src="{{ asset('assets/js/dependableList.js') }}"></script>

<form class="form-search" autocomplete="off" action="" method="get">
    {% if slug %}
        <input type="hidden" name="category"  value="{{ slug }}">
    {% endif %}

    <div class="inside_city">
        <div class="block_emp input-select-multiple">
            <p>Город</p>
            <select name="city" id="city" required>
                <option value="">Выберите город</option>
                {% for city in cities %}
                    <option value="{{ city.id }}" {% if city.name == cityName %} selected {% endif %}>{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>

{#        <div class="block_emp">#}
{#            <p>Район</p>#}
{#            <select name="district" disabled id="district">#}
{#                <option>Выберите район</option>#}
{#                {% for district in districts %}#}
{#                    <option data-list-id="{{ district.city.id }}" value="{{ district.id }}" {% if district.id == districtId %} selected {% endif %}>#}
{#                        {{ district.name }}#}
{#                    </option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}

        <br />
        <div class="block_emp input-select-multiple">
            <p>Возраст</p>
            <select name="ageFrom" id="ageFrom">
                <option value="">От</option>
                {% for age in ages %}
                    <option value="{{ age }}" {% if app.request.query.get('age') == age %} selected {% endif %}>
                        {{ age }}
                    </option>
                {% endfor %}
            </select>

            <select name="ageTo" id="ageTo">
                <option value="">До</option>
                {% for age in ages %}
                    <option value="{{ age }}" {% if app.request.query.get('age') == age %} selected {% endif %}>
                        {{ age }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <br />
        <div class="block_emp input-select-multiple">
            <p>Гражданство</p>
            <select name="citizen" id="citizen">
                <option value="">Выберите гражданство</option>
                {% for citizen in citizens %}
                    <option value="{{ citizen.id }}" {% if app.request.query.get('citizen') == citizen.id %} selected {% endif %}>
                        {{ citizen.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        
        <br />
        <div class="block_emp">
            <p>Когда нужно приступить к работе</p>
            <div class="date_creating_form">
                <input type="date" id="worksheet_form_startDate" name="date" class="text_input date" value="{{ app.request.query.get('date') }}"><br />
                <div class="but_creating_form">
                    <label for="checkbox" class="work_start_now">Незамедлительно
                        <input type="checkbox" id="job_volounteer_form_startNow" name="now" class="white" value="1"
                                {% if app.request.query.get('now') == 1 %} checked {% endif %} />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>

        <br />
        <div class="block_emp">
            <p>Оплата</p>
            <fieldset id="payment">
                <label for="radio" class="work_start_now">Почасовая
                    <input type="radio" id="job_volounteer_form_startNow" name="payment" class="white" value="1"
                            {% if app.request.query.get('payment') == 1 %} checked {% endif %} />
                    <span class="checkmark"></span>
                </label>
                <label for="radio" class="work_start_now">Помесячная
                    <input type="radio" id="job_volounteer_form_startNow" name="payment" class="white" value="2"
                            {% if app.request.query.get('payment') == 2 %} checked {% endif %} />
                    <span class="checkmark"></span>
                </label>
            </fieldset>
        </div>

        {% if category is not null %}
            <br />
            <div class="block_emp">
                <div class="input-select-multiple">
                    <p>Навыки</p>
                    <select name="tag[]" multiple id="tags">
                        {% for tag in tags %}
                            {% if tag.id in tasks %}
                                <option value="{{ tag.id }}" selected>{{ tag.name }}</option>
                            {% else %}
                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <br />
            <div class="block_emp">
                <div class="input-select-multiple">
                    <p>Занятость</p>
                    <fieldset id="busyness" style="border: none">
                        <label for="radio" class="work_start_now">Полная занятость
                            <input type="radio" id="job_volounteer_form_busyness" name="busyness" class="white" value="1"
                                    {% if app.request.query.get('busyness') == 1 %} checked {% endif %} />
                            <span class="checkmark"></span>
                        </label>
                        <label for="radio" class="work_start_now">Частичная занятость
                            <input type="radio" id="job_volounteer_form_busyness" name="busyness" class="white" value="2"
                                    {% if app.request.query.get('busyness') == 2 %} checked {% endif %} />
                            <span class="checkmark"></span>
                        </label>
                    </fieldset>
                </div>
            </div>
        {% endif %}


        <!--2,5-->
        <br />
        <div class="block_emp">
            <p>График работы:</p>
            <select name="schedule" id="schedule">
                <option value="">Выберите график работы</option>
                {% for key, schedule in schedules %}
                    <option value="{{ key }}" {% if app.request.query.get('schedule') == key %} selected {% endif %}>
                        {{ schedule }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="block_emp">
            <p>Опыт работы:</p>
            <select name="experience" id="experience">
                <option value="">Выберите опыт работы</option>
                {% for key, experience in experiences %}
                    <option value="{{ key }}" {% if app.request.query.get('experience') == key %} selected {% endif %}>
                        {{ experience }}
                    </option>
                {% endfor %}
            </select>
        </div>

        {% if category is not null and category.id == 2 %}
            {% include 'partials/pages/_category2_filter.html.twig' %}
        {% endif %}
        {% if category is not null and category.id == 3 %}
            {% include 'partials/pages/_category3_filter.html.twig' %}
        {% endif %}
        {% if category is not null and category.id == 4 %}
            {% include 'partials/pages/_category4_filter.html.twig' %}
        {% endif %}
        {% if category is not null and category.id == 5 %}
            {% include 'partials/pages/_category5_filter.html.twig' %}
        {% endif %}

    </div>
    <div class="btn_try btn_try_side_filter">
        <button type="submit" class="btn">Поиск</button>
    </div>
</form>

<script>
    createDependableList ( '#city', '#district' );
    $('#city').change(function() {
        $('#district').prop('disabled', false);
    });
    $('.input-select-multiple select').select2({
    });
</script>
