<script src="{{ asset('assets/js/dependableList.js') }}"></script>

<form class="form-search" autocomplete="off" action="" method="get">
    {% if slug %}
        <input type="hidden" name="category"  value="{{ slug }}">
    {% endif %}

    <div class="inside_city">
        <div class="block_emp">
            <p>Город</p>
            <select name="city" id="city" required>
                <option value="">Выберите город</option>
                {% for city in cities %}
                    <option value="{{ city.id }}" {% if city.name == cityName %} selected {% endif %}>{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-select-multiple">
            <p>Выберите дополнительные фильтры</p>
            <select name="tag[]" multiple id="tags">
                {% for tag in tags %}
                    {% if tag.id in tasks %}
                        <option value="{{ tag.id }}" selected>{{ tag.name }}</option>
                    {% else %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

    </div>
    <div class="btn_try btn_try_side_filter">
        <button type="submit" class="btn">Поиск</button>
    </div>
</form>

<script>
    createDependableList ( '#city', '#district' );
    $('#city').change(function() {
        $('#district').prop('disabled', false);
    });
    $('.input-select-multiple select').select2({
    });
</script>
