<script src="{{ asset('assets/js/dependableList.js') }}"></script>

<form class="form-search" autocomplete="off" action="" method="get">
    {% if slug %}
        <input type="hidden" name="category"  value="{{ slug }}">
    {% endif %}

    <div class="inside_city">
        <div class="block_emp">
            <p>Город</p>
            <select name="city" id="city">
                <option>Выберите город</option>
                {% for city in cities %}
                    <option value="{{ city.id }}" {% if city.name == cityName %} selected {% endif %}>{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>

{#        {% for tag in tags %}#}
{#            {{ tag.name }}#}
{#        {% endfor %}#}

    </div>
    <div class="btn_try btn_try_side_filter">
        <button type="submit" class="btn">Поиск</button>
    </div>
</form>

<script>
    createDependableList ( '#city', '#district' );
    $('#city').change(function() {
        $('#district').prop('disabled', false);
    });
</script>
