{% extends 'layouts/base.html.twig' %}
{% block title %}Написать в службу поддержки - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="main_account content">
        <div class="large_account fon">
            <div class="in_account">
                <div class="reset-form-content">
                    <h2>{{ 'Create ticket'|trans }}</h2>
                    {{ form_start(form, {'attr' : {'class': 'form-std ticket-form', 'autocomplete': 'off'}} ) }}
                    {{ form_widget(form.title) }}
                    {{ form_widget(form.email) }}
                    {{ form_widget(form.description) }}
                    {{ form_widget(form.priority) }}

                    <div class="btn_try btn_try_custom">
                        <button type="submit" class="btn btn-success">{{ 'Create ticket'|trans }}</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}
{% endblock %}