<div class="block2">
    {% include 'partials/pages/main/search_box.html.twig' %}
</div>

<div class="block3">
    <div class="how content">
        <img class="point" src="{{ asset('assets/img/pointstwo.png') }}">
        <img class="point2" src="{{ asset('assets/img/points3.png') }}">
        <h2>Как это работает</h2>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9h5nEQpErJg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <img class="point3" src="{{ asset('assets/img/pointsthree.png') }}">
        </div>

        <div class="store">
            <div class="play">
                <p>Скачайте наше приложение</p>
                <div class="app">
                    <img src="{{ asset('assets/img/googleplay.png') }}">
                    <img src="{{ asset('assets/img/appstores.svg') }}">
                </div>
            </div>
        </div>
    </div>
</div>