<div class="block5 content">
    <div class="help">
        <h2>Помогите нам стать лучше</h2>
        <p>Ваше мнение очень важно для нас!</p>
        <img class="str" src="{{ asset('assets/img/sarrow-back.svg') }}">
        <img class="buts" src="{{ asset('assets/img/wisw.svg') }}">
        <div class="button_block5">
            <a href="">Написать предложение</a>
        </div>
        <img class="buts2" src="{{ asset('assets/img/goes.png') }}">
        <img class="buts3" src="{{ asset('assets/img/buts3.png') }}">
    </div>
</div>
<img class="buts4" src="{{ asset('assets/img/buts4.png') }}">