<div class="block6">
    <div class="shows content">
        <img class="frame" src="{{ asset('assets/img/Frameses.svg') }}">
        <div class="phone">
            <img class="our" src="{{ asset('assets/img/our.svg') }}">
            <img src="{{ asset('assets/img/phoness.svg') }}">
        </div>
        <div class="infa">
            <h2>Быстрее просматривайте анкеты и вакансии с нашим приложением</h2>
            <p>Скачать можно здесь</p>
            <div class="app">
                <img src="{{ asset('assets/img/googleplay.png') }}">
                <img src="{{ asset('assets/img/appstores.svg') }}">
            </div>
        </div>
    </div>
</div>