{% extends 'layouts/lk.html.twig' %}
{% block title %}Чат с пользователем {{ toUser }} - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="main_account content">
        <div  class="bread">
            <a  href="{{ path('app_main') }}" class="nuxt-link-active">Главная</a> /
            <a  href="{{ path('app_chat') }}" class="nuxt-link-active">Выберите пользователя</a>
            <a>/ Сообщения</a>
        </div>

        <div class="mobfile mobs">
            <p>{{ 'Notifications'|trans }}</p>
        </div>

        <div class="large_account fon">
            <div class="in_account chat">
                <div class="row">
                    <div class="col-md-4">
                        <div class="users-block">
                            {% for siteUser in allUsers %}
                                <a href="{{ path('app_selected_chat', { id:  siteUser.id}) }}" class="" style="text-decoration: none">
                                    {% include 'partials/chat/_user_item.html.twig' with {'user': siteUser} %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-8">

                        <ul class="chat-thread" id="messages-list">
                            {% if chatRoom %}
                                {% for chat in chatRoom.chat %}
                                    {% if fromUser.id == chat.sender.id %}
                                        <li class="chat-item sender">
                                            {{ chat.sender }} :
                                            <span>{{ chat.created|date("d.m.Y H:i:s") }}</span>
                                            {% if chat.sender.avatar %}
                                                <img id="avatar" src="{{ asset('uploads/files/' ~ chat.sender.avatar) }}" class="rounded" width="50" height="50"  alt=""/>
                                            {% else %}
                                                <img src="{{ asset('assets/img/ava_person_account.png') }}" alt="">
                                            {% endif %}
                                            {{ chat.message }}
                                        </li>
                                    {% else %}
                                        <li class="chat-item reciever">
                                            {{ chat.sender }} :
                                            <span>{{ chat.created|date("d.m.Y H:i:s") }}</span>
                                            {% if chat.sender.avatar %}
                                                <img id="avatar" src="{{ asset('uploads/files/' ~ chat.sender.avatar) }}" class="rounded" width="50" height="50"  alt=""/>
                                            {% else %}
                                                <img src="{{ asset('assets/img/ava_person_account.png') }}" alt="">
                                            {% endif %}
                                            {{ chat.message }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="messages">

                            </div>
                        </ul>

                        <div class="row" id="data-pre">
                            <textarea id="form-message" class="form-control" rows="3" placeholder="Введите ваше сообщение"></textarea>
                            <div class="but_creating_form send_message">
                                <button type="submit" class="btn-send-message">Отправить</button>
                            </div>
                        </div>

{#                        <input class="form-control" type="text" name="message">#}
{#                        <button type="button" class="btn-send-message btn btn-primary">Send</button>#}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        /*
        * connect to socket
        * */
        myUserName = '{{ fromUser }}';
        myUserId = '{{ fromUser.id }}';
        messageToUserId = '{{ toUser.id }}';
        messageToUserName = '{{ toUser }}';
        fromImgSrc = '{{ fromImgSrc }}';
        toImgSrc = '{{ toImgSrc }}';

        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        var strDate = dt.getFullYear() + "." + (dt.getMonth()+1) + "." + dt.getDate();

        ws = new WebSocket('ws://localhost:9000');
        ws.onopen = function () {
            /*if(myUserId==''){
                myUserId = prompt('Enter User Id:');
            }
            if(messageToUserId==''){
                messageToUserId = prompt('Enter Other Person\'s User Id:');
            }*/
            ws.send(JSON.stringify({'action': 'register', 'value': myUserId, 'to': messageToUserId}));
            //$('.messages').append(`<div class="alert alert-info">Connected With Socket, Registering User!</div>`);
        }
        ws.onclose = function () {
            $('.messages').append(`<div class="alert alert-danger">Соединение закрыто! Пока!</div>`);
        }
        ws.onerror = function () {
            $('.messages').append(`<div class="alert alert-danger">Упс! Ошибка соединения с сервером!</div>`);
        }
        ws.onmessage = function (message) {
            data = JSON.parse(message.data);
            switch (data.action) {
                case 'error':
                    $('.messages').append(`<div id="alert-danger" class="alert alert-danger alert-danger-offline">${data.value}</div>`);
                    break;
                case 'message':
                    let msgTmpl  = `
                                    <li class="chat-item reciever">
                                        ${messageToUserName}
                                        <span>${strDate} ${time}</span>
                                        <img id="avatar" src="${toImgSrc}" class="rounded" width="50" height="50" alt="">
                                        ${data.value}
                                    </li>
                                `;
                    $('.messages').append(msgTmpl);
                    break;
                default:
                    break;
            }
        }

        $('.btn-send-message').bind('click', function () {
            let message = $('textarea#form-message');
            ws.send(JSON.stringify({'action': 'message','to':messageToUserId,'from':myUserId, 'value':message.val()}));
            let msgTmpl  = `
                                    <li class="chat-item sender">
                                        ${myUserName}
                                         <span>${strDate} ${time}</span>
                                        <img id="avatar" src="${fromImgSrc}" class="rounded" width="50" height="50" alt="">
                                        ${message.val()}
                                    </li>
                                `;
            $('.messages').append(msgTmpl);
            message.val('');
        });
    </script>
{% endblock %}