<div class="flex-parent">
    <!-- Left col -->
    <div class="flex-child">
        <div class="abouts_creating_form">
            <div class="dom_creating_form input-select-multiple">
               <p class="required">Город:</p>
                {{ form_widget(form.city) }}
            </div>
        </div>
    </div>
    <!-- Right col -->
    <div class="flex-child">
        <div class="abouts_creating_form">
            <div class="dom_creating_form input-select-multiple">
                <p class="required">Адрес</p>
                {{ form_widget(form.address) }}
{#                <p class="_required">Район</p>#}
{#                <select id="job_form_district" name="district">#}
{#                    {% for district in districts %}#}
{#                        <option data-list-id="{{ district.city.id }}" value="{{ district.id }}">#}
{#                            {{ district.name }}#}
{#                        </option>#}
{#                    {% endfor %}#}
{#                </select>#}
            </div>
        </div>
    </div>
</div>