<script type="text/javascript">
    var map = L.map( 'map', {
        center: [{{ lat }}, {{ lng }}],
        zoom: 11,
    });

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        subdomains: ['a','b','c']
    }).addTo(map);

    var marks = [
        {% for job in jobs %}
            {% if job.city is not null %}
                {% set description = '' %}
                {% if job.description %}
                    {% set description = job.description|striptags|u.truncate(50,  '...')  %}
                {% endif %}
                    {% if job.latitude and job.longitude %}
                        { text: '<h4>{{ job.name}}</h4> {{ description|raw }} <br /> Разместил(а): {{ job.owner }}  <img class="rounded map-img" src="{{ asset('uploads/files/' ~ job.owner.avatar) }}" width="50" height="50"/> Стоимость:{{ job.payment }} <br /><a href="{{ path('app_detail_job', { id: job.id}) }}">Подробнее ... </a>', latlng: [{{ job.latitude }}, {{ job.longitude }}], },
                    {% endif %}
            {% endif %}
        {% endfor %}
    ];
    for(var i = 0; i<=marks.length; i++) {
        L.marker(marks[i].latlng)
            .bindPopup(marks[i].text, {
                direction: 'top',
                sticky: false,
                offset: [0, -15],
            })
            .addTo(map);
    }

    //var changeSizeButton = document.getElementById('changeSize');
    //changeSizeButton.onclick = function() {
        //alert('asdas');
        // var mapDiv = document.getElementById('map');
        // mapDiv.style.height = (enabled ? '300' : '600') + 'px';
        // map.updateSize();
        // $("#changeSize").css("display", "none");
    //}

    // var changeSizeButton = document.getElementById('changeSize');
    //
    // changeSizeButton.onclick = function() {
    //     alert('asdasd');
    //     var mapDiv = document.getElementById('map');
    //     mapDiv.style.height = (enabled ? '200' : '600') + 'px';
    //     // обновление карты
    //     map.invalidateSize();
    //     $("#changeSize").css("display", "none");
    // }
</script>

