{% extends 'layouts/lk.html.twig' %}
{% block title %}Редактировать профиль - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

    s<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ asset('assets/js/jquery.maskedinput.min.js') }}"></script>

    <div>
        <div class="main_account content">
            <div  class="bread">
                <a  href="/" class="nuxt-link-active">Главная</a>
                <a href="{{ path('app_lk') }}">/ {{ 'Personal area'|trans }}</a>
                <a>/ Редактировать профиль</a>
            </div>
            <div class="mobfile mobs">
                <p>Мой профиль</p>
            </div>
            <div class="large_account fon">
                <div class="in_account">
                    <h2>Редактировать профиль
                        {% if is_granted('ROLE_EMPLOYEE') %}
                            работодателя
                        {% elseif is_granted('ROLE_CUSTOMER') %}
                            работника
                        {% elseif is_granted('ROLE_BUYER') %}
                        покупателя
                        {% else %}
                        {% endif %}
                    </h2>

                {{ form_start(form, {'attr' : {'class': 'form-std form-std-custom', 'autocomplete': 'off'}} ) }}
                    <div class="_form-group grig-group">
                        {{ form_row(form.email) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="_form-group grig-group">
                        {{ form_row(form.plainPassword, { label: 'Пароль'}) }}
                    </div>
                    <div class="form-group grig-group">
                        {{ form_row(form.city) }}
                        {{ form_row(form.address) }}
                    </div>

                    <div class="form-group grig-group" style="margin-top: 20px">
                        {{ form_widget(form.about) }}

                        <div class="_round_account">
                            {% if user.avatar %}
                                <img id="avatar" src="{{ asset('uploads/files/' ~ user.avatar) }}" class="lazyLoad isLoaded" width="200" height="200" />
                            {% else %}
                                <img id="avatar" src="{{ asset('assets/img/photo_acount.jpg') }}" width="200">
                            {% endif %}
                            <div class="">
                                <p>Аватар пользователя</p>
                                <div class="upload_file">
                                    {{ form_widget(form.avatar) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn_try btn_try_custom">
                        <button type="submit" class="btn btn-success">Обновить профиль</button>
                    </div>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            $("#edit_profile_form_phone").mask("+7(999) 999-9999");
        });
    </script>

    {% include 'partials/footer.html.twig' %}
{% endblock %}
